<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
    {% include 'headers.html' %}
</head>
<body id="body">
<!-- Страница статьи -->
<div class="catalog">
    <div class="container">
        <div class="place_breadcoast">
            <a href="/">Главная</a> / <a href="/blog" class="active_page" id="active_page">Блог</a>
        </div>
    </div>
</div>

<div class="catalog" style="min-height: 578px">
    <div class="container">
        <div class="blog_item_main">
            <div class="blog_item" style="width: 100%;">
                <div class="blog_item_info">
                    <img src="../static/img/blog_big_img.png" style="width: 100%;">
                    <div class="blog_item_text" style="margin-top: 30px;">
                        <div class="blog_item_text_zag">
                            Открыт новый магазин
                        </div>
                        <div class="blog_item_text_preview">
                            Чтобы понять, в каком стиле вам нужен бюджет на свадьбу необходимо обратить внимание
                            на
                            дресскод
                            и оформление...
                        </div>
                        <a href="/article" class="blog_item_text_read" >
                            Прочитать
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="blog_item_main">
            <div class="blog_item" style="width: 100%;">
                <div class="blog_item_info">
                    <img src="../static/img/blog_big_img.png" style="width: 100%;">
                    <div class="blog_item_text" style="margin-top: 30px;">
                        <div class="blog_item_text_zag">
                            Открыт новый магазин
                        </div>
                        <div class="blog_item_text_preview">
                            Чтобы понять, в каком стиле вам нужен бюджет на свадьбу необходимо обратить внимание
                            на
                            дресскод
                            и оформление...
                        </div>
                        <a href="/article" class="blog_item_text_read" >
                            Прочитать
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="blog_item_main">
            <div class="blog_item" style="width: 100%;">
                <div class="blog_item_info">
                    <img src="../static/img/blog_big_img.png" style="width: 100%;">
                    <div class="blog_item_text" style="margin-top: 30px;">
                        <div class="blog_item_text_zag">
                            Открыт новый магазин
                        </div>
                        <div class="blog_item_text_preview">
                            Чтобы понять, в каком стиле вам нужен бюджет на свадьбу необходимо обратить внимание
                            на
                            дресскод
                            и оформление...
                        </div>
                        <a href="/article" class="blog_item_text_read" >
                            Прочитать
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'utilites.html' %}

<script>
    {#let id = {{ id }};#}
    active_page.href = location.href;
</script>
</body>
</html>