<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оформление заказа</title>
    {% include 'headers.html' %}
</head>
<body id="body">

<div class="catalog" style="background-color: #F4F5F6; ">
    <div class="container">
        <div class="place_breadcoast">
            <a href="">Главная</a> / <a href="">Оформление заказа</a>
        </div>
        <div class="zag_favor">Избранное</div>
    </div>
</div>
{% include 'utilites.html' %}

</body>


<script>

    /* Получение пользователя */
    GetUser();

    function GetUser() {
        $.ajax({
            url: '/api/user/get',
            type: 'GET',
            success: function (msg) {
                user = msg['user'];
                loadFavorites();
            }
        });
    }


    function loadFavorites() {
        console.log(user);
        console.log('user', user['id']);
        let data = {
            'user_id': user['id'],
        }
        $.ajax({
            url: '/site/likeds/products',
            type: "GET",
            data: data,
            success: function (msg) {
                console.log(msg);
                drawProducts(msg['message']['products']);
                paginations = msg['message']['pages'];
            }
        })
    }


    function drawProducts(msg) {
        for (let i = 0; i < msg.length; i++) {
            let box = createProduct(msg[i]);
            box.style.display = 'inline-block';
            document.getElementById('favorites_place').append(box);
        }
    }
</script>
</html>