<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статья</title>
    <meta id="meta_keywords" name="keywords" content="Одуван, Весёлый одуван, цветы, букеты, букеты из роз, открытки, деревья, купить цветы Воронеж, купить цветы Воронеж недорого,
горшки, деревья, деревья в горшках, роза, доставка цветов Воронеж, купить цветы жене, цветы одуван, цветы Воронеж, лушчие букеты, лучшие цветы, праздник, цветы на 8 марта,
открытки, шарики, купить цветы и открытки быстро, купить цветы дёшево, купить цветы маме, заказ цветов Воронеж, доставить букет, служба доставки цветов, интернет досатвка цветов,
служба доставки цветов, букет невесты недорого, доставка цветов на дом, свежие цветы, свадебный букет из роз, купить цветы в интернете, где можно купить цветы, доставка букетов,
цветы Воронеж, купить свадебный букет, букет цветов в коробке, букет цветов с доставкой, недорогие букеты с доставкой, заказ букетов Воронеж, доставка цветов в Воронеже онлайн,
заказать цветы с доставкой, свадебный букет цена, купить цветы недорого, магазин достави цветов, стоимость цветов, заказать цветы, заказ цветов, где купить цветы,
букет в корзинке, купить цветы в Воронеже недорого">
    {% include 'pc_headers.html' %}
</head>
<body id="body">
<!-- Страница статьи -->
<div class="catalog">
    <div class="container">
        <div class="place_breadcoast" style="margin-bottom: 50px">
            <a href="">Главная</a> / <a class="active_page" id="active_page href=">Блог</a> / <a class="active_page" id="active_page href=">Заголовок статьи</a>
        </div>
        <h1 class="catalog_zag" style="margin-bottom: 30px">Заголовок статьи</h1>
        <div class="description_explanations" style="max-width: 75%">
            Таким образом новая модель организационной деятельности способствует подготовки и реализации новых
            предложений. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей
            активности способствует подготовки и реализации дальнейших направлений развития. Повседневная практика
            показывает, что рамки и место обучения кадров играет важную роль в формировании существенных финансовых и
            административных условий.

            Повседневная практика показывает, что укрепление и развитие структуры требуют от нас анализа позиций,
            занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что реализация
            намеченных плановых заданий представляет собой интересный эксперимент проверки форм развития. С другой
            стороны укрепление и развитие структуры в значительной степени обуславливает создание соответствующий
            условий активизации.
        </div>
    </div>
</div>

<div class="catalog">
    <div class="container">
        <div class="catalog_flex_catalog">
            <div class="blog_art_img">
                <img src="../static/img/blog_big_img.png">
            </div>
            <div class="blog_art_text description_explanations">
                Таким образом новая модель организационной деятельности способствует подготовки и реализации новых
                предложений. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера
                нашей активности способствует подготовки и реализации дальнейших направлений развития. Повседневная
                практика показывает, что рамки и место обучения кадров играет важную роль в формировании существенных
                финансовых и административных условий.

                Повседневная практика показывает, что укрепление и развитие структуры требуют от нас анализа позиций,
                занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что реализация
                намеченных плановых заданий представляет собой интересный эксперимент проверки форм развития. С другой
                стороны укрепление и развитие структуры в значительной степени обуславливает создание соответствующий
                условий активизации.
            </div>
        </div>
    </div>
</div>

<div class="catalog" style="background: #f5f5f6;">
    <div class="container">
        <div class="catalog_flex">
            <h2 class="catalog_zag">Больше статей</h2>
            <a class="all_catalog_href" href="/catalog">
                Больше статей
            </a>
        </div>
        <div class="slider_item_card">
            <div class="right_nav_place">
                <div class="right_nav_item">
                    <span class="fas fa-heart _active"></span>
                </div>
            </div>
            <div class="slider_item_card_img_place">
                <img src="../static/img/slider_img.png">
            </div>
            <div class="name_and_price">
                <span class="slider_name_bucket">Букет "Индиго"</span>
                <div class="price">
                    5 400 ₽
                </div>
                <div class="price_hover">
                    <div>
                        В корзину
                    </div>
                    <div class="price_hover_price">
                        5 400 ₽
                    </div>
                </div>
            </div>
        </div>
        <div class="slider_item_card">
            <div class="right_nav_place">
                <div class="right_nav_item">
                    <span class="fas fa-heart _active"></span>
                </div>
            </div>
            <div class="slider_item_card_img_place">
                <img src="../static/img/slider_img.png">
            </div>
            <div class="name_and_price">
                <span class="slider_name_bucket">Букет "Индиго"</span>
                <div class="price">
                    5 400 ₽
                </div>
                <div class="price_hover">
                    <div>
                        В корзину
                    </div>
                    <div class="price_hover_price">
                        5 400 ₽
                    </div>
                </div>
            </div>
        </div>
        <div class="slider_item_card">
            <div class="right_nav_place">
                <div class="right_nav_item">
                    <span class="fas fa-heart _active"></span>
                </div>
            </div>
            <div class="slider_item_card_img_place">
                <img src="../static/img/slider_img.png">
            </div>
            <div class="name_and_price">
                <span class="slider_name_bucket">Букет "Индиго"</span>
                <div class="price">
                    5 400 ₽
                </div>
                <div class="price_hover">
                    <div>
                        В корзину
                    </div>
                    <div class="price_hover_price">
                        5 400 ₽
                    </div>
                </div>
            </div>
        </div>
        <div class="slider_item_card">
            <div class="right_nav_place">
                <div class="right_nav_item">
                    <span class="fas fa-heart _active"></span>
                </div>
            </div>
            <div class="slider_item_card_img_place">
                <img src="../static/img/slider_img.png">
            </div>
            <div class="name_and_price">
                <span class="slider_name_bucket">Букет "Индиго"</span>
                <div class="price">
                    5 400 ₽
                </div>
                <div class="price_hover">
                    <div>
                        В корзину
                    </div>
                    <div class="price_hover_price">
                        5 400 ₽
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% include 'pc_utilites.html' %}

<script>
    let id = {{ id }};
</script>
</body>
</html>