<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
    {% include 'pc_headers.html' %}
</head>
<body id="body">
<!-- Страница доставки -->
<div class="catalog">
    <div class="container">
        <div class="place_breadcoast">
            <a href="/">Главная</a> / <a href="/blog" class="active_page" id="active_page">Блог</a>
        </div>
    </div>
</div>

<div class="catalog" style="min-height: 483px">
    <div class="container" style="text-align: center">
        <div class="blog_item_main" style="margin-right: 0; width: auto;">
            <div class="blog_item" style="width: 800px;">
                <div class="blog_item_info">
                    <img src="../static/img/blog_big_img.png">
                    <div class="blog_item_text">
                        <div class="blog_item_text_zag">
                            Открыт <br>новый магазин
                        </div>
                        <div class="blog_item_text_preview">
                            Открылся новый магазин по адресу Плехановская 15, мы рады представить...
                        </div>
                        <a href="/article" class="blog_item_text_read" >
                            Прочитать
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog_item_main" style="margin-right: 0; width: auto;">
            <div class="blog_item" style="width: 800px;">
                <div class="blog_item_info">
                    <img src="../static/img/blog_big_img.png">
                    <div class="blog_item_text">
                        <div class="blog_item_text_zag">
                            Открыт <br>новый магазин
                        </div>
                        <div class="blog_item_text_preview">
                            Открылся новый магазин по адресу Плехановская 15, мы рады представить...
                        </div>
                       <a href="/article" class="blog_item_text_read" >
                            Прочитать
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog_item_main" style="margin-right: 0; width: auto;">
            <div class="blog_item" style="width: 800px;">
                <div class="blog_item_info">
                    <img src="../static/img/blog_big_img.png">
                    <div class="blog_item_text">
                        <div class="blog_item_text_zag">
                            Открыт <br>новый магазин
                        </div>
                        <div class="blog_item_text_preview">
                            Открылся новый магазин по адресу Плехановская 15, мы рады представить...
                        </div>
                        <a href="/article" class="blog_item_text_read" >
                            Прочитать
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% include 'pc_utilites.html' %}

<script>
    {#let id = {{ id }};#}
</script>
</body>
</html>