<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
    {% include 'pc_headers.html' %}
</head>
<body id="body">
<!-- Страница доставки -->
<div class="catalog">
    <div class="container">
        <div class="place_breadcoast">
            <a href="/">Главная</a> / <a href="/blog" class="active_page" id="active_page">Блог</a>
        </div>
    </div>
</div>

<div class="catalog" style="min-height: 483px">
    <div class="container">

    </div>
</div>




{% include 'pc_utilites.html' %}

<script>
    {#let id = {{ id }};#}
</script>
</body>
</html>