<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оформление заказа</title>
    {% include 'pc_headers.html' %}
</head>
<body id="body">

<div class="catalog">
    <div class="container">
        <div class="place_breadcoast">
            <a href="/">Главная</a> / <a href="/createorder" class="active_page">Оформление заказа</a>
        </div>

        <div class="catalog_flex createorder">
            <div class="requisites_place">
                <div class="name_buckets">
                    Отправитель
                </div>
                <input class="popup_input" placeholder="Ваше имя" id="name_user" readonly>
                <input class="popup_input" type="tel" placeholder="+7 (___) ___-__-__" id="phone_user" readonly>
                <input class="popup_input" type="email" placeholder="Электронная почта" id="email_user" readonly>
                <select id="addresses_user" class="popup_input" style="display: none">

                </select>
                <div class="checkbox" style="margin-left:5px;">
                    <input type="checkbox" id="get_other_people"
                           class="scal_chek custom-checkbox" style="margin-top: 20px;">
                    <label for="get_other_people" class="lab_desc sub_zag">Отправить другому человеку</label>
                </div>
                <div id="recipient">
                    <div class="name_buckets">
                        Получатель
                    </div>
                    <input class="popup_input input_sender" placeholder="Имя получателя" id="name_sender">
                    <input class="popup_input input_sender" type="tel" placeholder="+7 (___) ___-__-__"
                           id="phone_sender">
                    <input class="popup_input input_sender" type="email" placeholder="Адрес получателя"
                           id="address_sender">
                </div>
                <div class="name_buckets">
                    Дополнительно
                </div>
                <input class="popup_input" placeholder="Комментарии к заказу">
                <input class="popup_input" placeholder="Текст для открытки">

                <div class="catalog_flex">
                    <div class="checkbox" style="margin-left:5px;">
                        <input type="checkbox" id="add_carrying"
                               class="scal_chek custom-checkbox" style="margin-top: 20px;">
                        <label for="add_carrying" class="lab_desc sub_zag">Добавить переноску</label>
                    </div>
                    <div class="checkbox" style="margin-left:5px;">
                        <input type="checkbox" id="add_aquapack"
                               class="scal_chek custom-checkbox" style="margin-top: 20px;">
                        <label for="add_aquapack" class="lab_desc sub_zag">Добавить аквапак</label>
                    </div>
                </div>


                <div class="name_buckets">
                    Способ оплаты
                </div>
                <div class="catalog_flex">
                    <div class="checkbox" style="margin-left:5px;">
                        <input type="checkbox" id="money_payment"
                               class="scal_chek custom-checkbox" style="margin-top: 20px;">
                        <label for="money_payment" class="lab_desc sub_zag">Наличные</label>
                    </div>
                    <div class="checkbox" style="margin-left:5px;">
                        <input type="checkbox" id="card_payment"
                               class="scal_chek custom-checkbox" style="margin-top: 20px;">
                        <label for="card_payment" class="lab_desc sub_zag">Картой</label>
                    </div>
                </div>

                <div class="all_catalog_href" id="oformit_zakaz"
                     style="float: none;width:100%;height:60px;justify-content: space-between;padding:0 10px">
                    <div class="pereiti_k_oform">Подтвердить заказ</div>
                    <div style="float: right" class="price final_price">17200 Р</div>
                </div>

            </div>
            <div class="your_order_place">
                <div class="your_order">
                    <div class="name_buckets">
                        Ваш заказ
                    </div>
                    <div class="description_explanations">
                        <select class="popup_input" id="select_shops" style="display: none">
                            <option value="-1">Не выбрано</option>
                        </select>
                        <!--                        <div class="catalog_flex">-->
                        <!--                            <div class="address_info_zag">-->
                        <!--                                Доставка в точное время-->
                        <!--                            </div>-->
                        <!--                            <span class="fa fa-chevron-down"></span>-->
                        <!--                        </div>-->
                        <div class="catalog_flex" style="position: relative; ">
                            <div class="date_input" id="date_input_one">
                                <input type="date" class="popup_input" id="inp_choose_data"
                                       data-date-format="DD MMMM YYYY">
                            </div>
                            <div class="address_info_zag" id="addres_info_date">
                                <!--06.07.2021-->
                            </div>
                            <span id="choose_data">Выбрать дату</span>
                        </div>

                        <div class="catalog_flex" style="position: relative;">
                            <div class="date_input" id="date_input_two">
                                <input type="time" class="popup_input" id="inp_choose_time">
                            </div>
                            <div class="address_info_zag" id="addres_info_time">
                                <!--21:00-->
                            </div>
                            <span id="choose_time">Выбрать время</span>
                        </div>
                    </div>
                    <div class="catalog_flex" style="justify-content: space-between;padding:0">
                        <div class="price_price" style="color:#293048;opacity:0.6">
                            Сумма заказа
                        </div>
                        <div class="price_price final_price" style="float: right">
                            16200 Р
                        </div>
                    </div>
                    <div class="registr_indicator" style="background: #293048; margin:10px 0;"></div>
                    <!--                    <div class="catalog_flex" style="justify-content: space-between">-->
                    <!--                        <div class="price_price" style="color:#293048;opacity:0.6">-->
                    <!--                            + Доставка вовремя-->
                    <!--                        </div>-->
                    <!--                        <div class="price_price" style="float: right">-->
                    <!--                            1000 Р-->
                    <!--                        </div>-->
                    <!--                    </div>-->


                    <div class="basket_item_place" style="display: none">

                    </div>

                    <!--                    <div class="catalog_flex" style="align-items: normal;justify-content: normal">-->
                    <!--                        <div class="small_product_card" style="margin-right:15px;">-->
                    <!--                            <div class="small_product_place">-->
                    <!--                                <img src="../static/img/slider_img.png" class="small_product_img">-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <div>-->
                    <!--                            <div class="bucket_na_zakaz">-->
                    <!--                                Букет индиго-->
                    <!--                            </div>-->
                    <!--                            <div class="price">-->
                    <!--                                5400 Р-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->


                    <!-- Карточка товара в корзине -->
                    <div id="basket_item_place" style="display: none;">
                        <div class="basket_item" id="basket_item" style="display: none;">
                            <div class="catalog_flex" style="justify-content: normal">
                                <div class="small_product_card" style="margin-right:15px;">
                                    <a class="small_product_place">
                                        <img src="../static/img/small_img_main.png" class="small_product_img">
                                    </a>
                                </div>
                                <div class="basket_info_for_order">
                                    <div class="bucket_na_zakaz">
                                        Букет "Индиго"
                                    </div>
                                    <div class="catalog_flex_catalog" style="align-items: center">
                                        <div class="disc_price_bucket" style="margin-right: 15px;">
                                            2 600 Р
                                        </div>
                                        <div class="price">
                                            5400 Р
                                        </div>
                                    </div>
                                    <div class="add_to_basket_place" style="max-width:100%;">
                                        <div class="fa fa-minus" id="minus_counter" onclick="changeCounter(2)"></div>
                                        <div class="counter_place">
                                            <input type="number" class="product_counter_inp" id="counter_product"
                                                   value="1">
                                            <span style="font-weight: 600;">ШТ</span>
                                        </div>
                                        <span class="fa fa-plus"></span>
                                    </div>
                                    <div class="fa fa-times"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="catalog_flex" style="justify-content: space-between;margin-bottom: 0px;">
                        <div class="price_price" style="color:#293048;opacity:0.6">
                            Итого:
                        </div>
                        <div class="price_price final_price" style="float: right">
                            17200 Р
                        </div>
                    </div>
                    <div class="registr_indicator" style="background: #293048;margin:10px 0;"></div>
                    <input class="popup_input" placeholder="Введите промокод" id="promo_code_code">
                    <div class="all_catalog_href" style="float: none;width:100%;height:50px;" id="promo_code">
                        Применить промокод
                    </div>
                    <div class="blog_item_text_zag" style="text-align: center;margin:20px 0;">Платёжные системы</div>
                    <div style="width:100%;">
                        <div class="system_item">
                            <div class="small_product_place">
                                <img src="../static/img/mastercard.png" class="small_product_img">
                            </div>
                        </div>
                        <div class="system_item">
                            <div class="small_product_place">
                                <img src="../static/img/visa.png" class="small_product_img">
                            </div>
                        </div>
                        <div class="system_item">
                            <div class="small_product_place">
                                <img src="../static/img/mir.png" class="small_product_img">
                            </div>
                        </div>
                        <div class="system_item">
                            <div class="small_product_place">
                                <img src="../static/img/applepay.png" class="small_product_img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'pc_utilites.html' %}
<script>
    // Переменные для времени и даты
    let timeElapsed = Date.now();
    let today = new Date(timeElapsed);
    let day_now = today.toLocaleDateString();
    let todayy = new Date;
    let my_hours = todayy.getHours();
    let my_min = todayy.getMinutes();
    let my_full_time = my_hours + ':' + my_min;

    // Переменные для запроса об отправке заявки
    let shop_id = 0;
    let payment_type = 0;


    // Изменение количества товара
    function changeCounter(action) {
        console.log(Number(counter_product.value));
        if (action === 1) {
            counter_product.value += 1;
        } else {
            if (counter_product.value === 1) {
                minus_counter.classList.add('none_active');
                return;
            } else {
                counter_product.value -= 1;
            }
        }
    }


    addres_info_date.innerText = day_now;
    addres_info_time.innerText = my_full_time;


    const options = {
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
    }

    const date = new Date()
    date.setDate(date.getDate())

    const on_block = date.toLocaleString("ru", options).split('.').reverse().join('-')
    document.getElementById("inp_choose_data").setAttribute("min", on_block)


    let inp_data = document.getElementById('date_input_one');
    choose_data.onclick = function () {
        inp_data.classList.add('_active');
    }

    inp_choose_data.onchange = function () {

        let data_value = inp_choose_data.value;
        inp_data.classList.remove('_active');
        addres_info_date.innerText = data_value;
    }


    let inp_time = document.getElementById('date_input_two');
    choose_time.onclick = function () {
        inp_time.classList.add('_active');
    }

    inp_choose_time.onchange = function () {
        let time_value = inp_choose_time.value;
        inp_time.classList.remove('_active');
        addres_info_time.innerText = time_value;
    }


    /* Получение пользователя */
    GetUser();

    function GetUser() {
        $.ajax({
            url: '/api/user/get',
            type: 'GET',
            success: function (msg) {
                user = msg['user'];
                name_user.value = user['name'] + ' ' + user['surname'];
                phone_user.value = '+7' + user['phone'];
                email_user.value = user['email'];
                loadBasket();
            }
        });
    }

    // Подгрузка товаров для оформления заказа
    function loadBasket() {
        let data = {
            'user_id': user['id'],
        }
        $.ajax({
            url: '/api/busket/get_by_user',
            data: data,
            type: 'GET',
            success: function (msg) {
                if (msg['message']['busket']['purchase_type'] === 1) {
                    loadShops();
                }
                console.log(msg);
                $('.delete_card').remove();
                let final_price = document.getElementsByClassName('final_price');
                for (let i = 0; i < final_price.length; i++) {
                    final_price[i].innerText = msg['message']['busket']['discount_cost'] + ' ₽';
                }
                drawBasket(msg['message']['products']);
            }
        })
    }


    function loadShops() {
        $.ajax({
            url: '/api/shops/get',
            type: "GET",
            success: function (msg) {
                console.log(msg);
                select_shops.style.display = 'block';

            }
        })

    }

    // Отрисовка товаров
    function drawBasket(products) {
        console.log(products, basket_id);
        for (let i = 0; i < products.length; i++) {
            let box = createProductBasket(products[i]);
            box.style.display = 'block';
            box.classList.add('delete_card');
            document.getElementById('basket_item_place').append(box);
        }
        document.getElementById('basket_item_place').style.display = 'block';
        /* Если чекбокс "Отправить другому человеку поставлен, то открываем блок "Получатель"" */
        get_other_people.onchange = function () {
            if (get_other_people.checked) {
                recipient.className = '_active';
            } else {
                recipient.classList.remove('_active');
            }
        }
        // Проверка промокода
        promo_code.onclick = function () {
            checkPromoCode();
        }
        // Выбор наличными оплата или картой
        money_payment.onchange = function () {
            if (card_payment.checked) {
                card_payment.checked = false;
            } else {
                money_payment.checked = true;
            }
        }
        card_payment.onchange = function () {
            if (money_payment.checked) {
                money_payment.checked = false;
            } else {
                card_payment.checked = true;
            }
        }

        // Если на поля получателя были добавлены классы error (не были заполнены), то когда они будут заполняться, класс пропадёт
        let inputs = document.getElementsByClassName('input_sender');
        for (let i = 0; i < inputs.length; i++) {
            inputs[i].oninput = function () {
                console.log(inputs[i].value.length);
                if (inputs[i].value.length > 0) {
                    inputs[i].classList.remove('error');
                }
            }
        }
    }


    // Функция проверки промокода
    function checkPromoCode() {
        let data = {
            'promo_code': promo_code_code.value,
        }
        $.ajax({
            url: '/api/promo_code/get_promo_code',
            type: "GET",
            data: data,
            success: function (msg) {
                if (msg['status'] === 'error') {
                    notification('Такого промокода не существует', 1);
                } else {
                    notification('Промокод успешно использован', 2);
                }
                console.log(msg);
            }
        })
    }

    // При нажатии на кнопку "Оформить заказ" вызываем функцию
    oformit_zakaz.onclick = function () {
        placeOrder();
    }

    // Проверки
    function placeOrder() {
        // Если чекбокс "Отправить другому человеку" checked, то проверяем все ли поля получателя заполнены
        if (get_other_people.checked) {
            let inputs = document.getElementsByClassName('input_sender');
            for (let i = 0; i < inputs.length; i++) {
                if (name_sender.value === '' || phone_sender.value === '' || address_sender.value === '') {
                    for (let i = 0; i < inputs.length; i++) {
                        if (inputs[i].value === '') {
                            inputs[i].classList.add('error');
                            notification('Заполните обязательные поля', 1);
                        }
                    }

                }
            }
            return;
        }
        if (!money_payment.checked && !card_payment.checked) {
            notification('Выберите способ оплаты', 1);
            return;
        }
        if (shop_id === -1) {
            notification('Выберите магазин, в котором получите товар', 1);
            return;
        }
        createDeal();
    }

    // Функция оформления заказа отправляется в банк
    function createDeal() {
        let data = {}
        $.ajax({
            url: 'api/deal/create',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function (msg) {
                console.log(msg);
            }
        })
    }


</script>
</body>
</html>