<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    {% include 'pc_headers.html' %}
</head>
<body id="body">
<!-- Каталог -->
<div class="catalog" style="background: #e9eaec">
    <div class="container">
        <div class="catalog_flex_catalog">
            <!-- Сортировка в каталоге -->
            <div class="catalog_sorted">
                <div class="place_breadcoast">
                    <a href="">Главная</a> / <a href="">Каталог</a> / <a href="">Букеты</a>
                </div>
                <h1 class="catalog_zag">
                    Букеты
                </h1>

                <div class="sorted_text" style="display: block" id="sorted_text">

                    <div class="sorted_select_items">
                        <div id="sorted_place" style="background: transparent">
                            <div class="catalog_flex" style="padding: 0;">
                                <div class="sorted_select_item" style="color: #293048;border-bottom: 0">
                                    Сортировка:
                                </div>
                                <div class="sorted_text_select">Название <span class="fa fa-chevron-down"></span></div>
                            </div>
                        </div>
                        <div class="sorted_select_item">
                            Самые популярные
                        </div>
                        <div class="sorted_select_item">
                            По возрастанию цены
                        </div>
                        <div class="sorted_select_item">
                            По убыванию цены
                        </div>
                        <div class="sorted_select_item">
                            По размеру скидки
                        </div>
                    </div>
                </div>
                <div class="registr_indicator" style="height:4px;background:#293048"></div>
                <div class="sorted_zag">
                    Цена
                </div>
                <div class="catalog_flex_catalog" style="width:80%;">
                    <div class="price_place">
                        <span>От</span>
                        <div id="price_ot" class="price_price">
                            <input type="number" value="100" id="price_min"> ₽
                        </div>
                    </div>
                    <div class="price_place">
                        <span>До</span>
                        <div id="price_do" class="price_price">
                            <input type="number" value="2000" id="price_max"> ₽
                        </div>
                    </div>
                </div>

                <div class="sorted_zag">
                    Цветы
                </div>
                <div id="flowers_place">
                    <div class="choose_flower" id="choose_flower" style="display: none">
                        <input type="checkbox" class="checkbox_for_choose_flower">
                        <span class="name_flower">Роза кустовая</span>
                    </div>
                </div>

                <div class="sorted_zag">
                    Упаковка
                </div>
                <div class="choose_flower">
                    <input type="checkbox" class="checkbox_for_choose_flower packages_inp" value="1">
                    <span>Плёнка</span>
                </div>
                <div class="choose_flower">
                    <input type="checkbox" class="checkbox_for_choose_flower packages_inp" value="2">
                    <span>Крафт.плёнка</span>
                </div>
                <div class="choose_flower">
                    <input type="checkbox" class="checkbox_for_choose_flower packages_inp" value="3">
                    <span>Ленты</span>
                </div>

                <div class="all_catalog_href" style="float: none;margin: 20px 0 15px;height: 50px;width: 100%"
                     id="startsorting">
                    Применить
                </div>
                <div style="text-align: center">
                    <div class="bucket_na_zakaz" style="text-align: center;cursor: pointer;display: contents">
                        Сбросить
                    </div>
                </div>
            </div>
            <!-- Основная часть каталога -->
            <div class="catalog_card_place">
                <!-- Категории -->
                <div id="catalog_category_place">
                    <div class="catalog_category" id="catalog_category_card" style="display: none">
                        <div class="catalog_category_item">
                            Все
                        </div>
                    </div>
                </div>

                <!-- Карточка товара -->
                <div id="item_card_place" style="display: block;padding-top: 35px;">
                    <div id="card_product" style="display: none;">
                        <div class="right_nav_place">
                            <div class="right_nav_item">

                            </div>
                        </div>
                        <div class="discount_place">
                            <div class="percent_place">
                                <span class="fa fa-percent"></span>
                            </div>
                            <div class="discount_text">
                                20% скидка
                            </div>
                        </div>
                        <a class="slider_item_card_img_place" href="">
                            <img src="../static/img/catalog_img.png" class="slider_img">
                        </a>
                        <div class="name_and_price">
                            <div class="slider_name_bucket">Букет "Индиго"</div>
                            <div class="catalog_flex_catalog"
                                 style="align-items: center;justify-content: space-between;padding: 0 15px;">
                                <div>
                                    <div class="price">
                                        5400 Р
                                    </div>
                                    <div class="disc_price_bucket">
                                        2 600 Р
                                    </div>
                                </div>
                                <div class="add_to_basket_card">
                                    <span class="fas fa-shopping-bag"></span>
                                </div>
                            </div>
                            <div class="price_hover">
                                <div>
                                    В корзину
                                </div>
                                <div class="price_hover_price">
                                    5 400 ₽
                                </div>
                            </div>
                            <div class="added_product" style="display: none">
                                <div>
                                    <span class="fa fa-minus"></span>
                                </div>
                                <div>
                                    В корзине: 1
                                </div>
                                <div>
                                    <span class="fa fa-plus"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination_place" id="pag_place">
                    <div class="pagination_item" id="pagination_item" style="display: none">
                        <span class="pagination_num">1</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'pc_utilites.html' %}
<script>
    let category_id = 0;
    let sorted_type = 0;
    let cost_end = 150000;
    let cost_start = 0;
    let flowers = [];
    let packaging = [];
    let discount_type = 0;
    let page = 0;
    let paginations = 0;

    getCategories();

    function getCategories() {
        $.ajax({
            url: '/api/categories/get',
            type: 'GET',
            success: function (msg) {
                console.log(location.href);
                console.log(msg['message']);
                drawCategories(msg['message']);
            }
        });
    }

    function drawCategories(msg) {
        console.log(msg.length);
        for (let i = 0; i < msg.length; i++) {
            let category = catalog_category_card.cloneNode(true);
            category.id = '';
            category.style.display = 'block';

            let cat_name = category.getElementsByClassName('catalog_category_item')[0];
            cat_name.innerText = msg[i]['name'];
            if (i === 0) {
                cat_name.classList.add('_active');
                category.classList.add('all');
            }
            category.style.display = 'inline-block';
            category.onclick = function () {
                document.getElementsByClassName('_active')[0].classList.remove('_active');
                cat_name.classList.add('_active');
                if (category.classList.contains('all')) {
                    category_id = 0;
                } else {
                    category_id = msg[i]['id'];
                }
                loadProducts();
                console.log('category_id:', category_id);
            }
            catalog_category_place.append(category);
        }

    }

    loadProducts();

    /* Правильная подгрузка продуктов */
    function loadProducts() {
        console.log(category_id);
        $('.slider_item_card').remove();
        let data = {
            'category_id': category_id,
            'sorted_type': sorted_type,
            'discount_type': discount_type,
            'cost_start': cost_start,
            'cost_end': cost_end,
            'flowers': flowers,
            'packaging': packaging,
            'page': 0,
        }
        // let data = {
        //    'category_id': 8,
        //    'sorted_type': 3,
        //    'discount_type': 12
        // }
        $.ajax({
            url: '/site/products/smart',
            type: 'POST',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function (msg) {
                console.log(msg);
                drawProducts(msg['message']['products']);
                paginations = msg['message']['pages'];
            }
        });

    }


    let packages = document.getElementsByClassName('packages_inp');
    for (let i = 0; i < packages.length; i++) {
        packages[i].onchange = function () {

            if (packages[i].checked) {
                packaging.push(Number(packages[i].value));
            } else {
                packaging = removeItemAll(packaging, Number(packages[i].value));
            }
            console.log(packaging);
        }
    }


    loadFlowers();

    function loadFlowers() {
        $.ajax({
            url: '/api/flowers/get',
            type: 'GET',
            success: function (msg) {
                console.log(msg);
                drawFlowers(msg['message']);
            }
        })
    }

    function drawFlowers(flower) {
        for (let i = 0; i < flower.length; i++) {
            let fl = choose_flower.cloneNode(true);
            fl.id = '';
            let name = fl.getElementsByClassName('name_flower')[0];
            let checkbox = fl.getElementsByClassName('checkbox_for_choose_flower')[0];
            checkbox.onchange = function () {

                if (checkbox.checked) {
                    flowers.push(checkbox.value);
                } else {
                    flowers = removeItemAll(flowers, checkbox.value);
                }
                console.log(flowers);
            }
            name.innerText = flower[i]['name'];
            checkbox.value = flower[i]['name'];
            fl.style.display = 'block';
            flowers_place.append(fl);
        }
    }


    startsorting.onclick = function () {
        startSorting();
    }


    function removeItemAll(arr, value) {
        var i = 0;
        while (i < arr.length) {
            if (arr[i] === value) {
                arr.splice(i, 1);
            } else {
                ++i;
            }
        }
        return arr;
    }

    function startSorting() {
        cost_min = price_min.value;
        cost_max = price_max.value;
        loadProducts();
    }

    function drawProducts(msg) {
        for (let i = 0; i < msg.length; i++) {
            let box = createProduct(msg[i]);
            box.style.display = 'inline-block';
            document.getElementById('item_card_place').append(box);
        }
        console.log(paginations);
        for(let i = 0; i < paginations; i++){
           let pagination = pagination_item.cloneNode(true);
           pagination.id = '';
           let pag_num = pagination.getElementsByClassName('pagination_num')[0];
           pag_num.innerText = i;
           pagination.style.display = 'inline-block';
           pag_place.append(pagination);
        }

    }


</script>


</body>
</html>