<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Избранное</title>
    {% include 'pc_headers.html' %}
</head>
<body id="body">

<div class="catalog" style="background: #e9eaec">
    <div class="container">
        <div class="place_breadcoast">
            <a href="">Главная</a> / <a href="">Избранное</a>
        </div>
        <h1 class="catalog_zag" style="text-align: center">Избранное</h1>
    </div>
</div>

<div class="catalog">
    <div class="container">
        <div class="slider_item_card">
            <div class="right_nav_place">
                <div class="right_nav_item">
                    <span class="fas fa-heart _active"></span>
                </div>
            </div>
            <div class="slider_item_card_img_place">
                <img src="../static/img/slider_img.png">
            </div>
            <div class="name_and_price">
                <span class="slider_name_bucket">Букет "Индиго"</span>
                <div class="price">
                    5 400 ₽
                </div>
                <div class="price_hover">
                    <div>
                        В корзину
                    </div>
                    <div class="price_hover_price">
                        5 400 ₽
                    </div>
                </div>
            </div>
        </div>


        <div class="slider_item_card">
            <div class="right_nav_place">
                <div class="right_nav_item">
                    <span class="fas fa-heart _active"></span>
                </div>
            </div>
            <div class="slider_item_card_img_place">
                <img src="../static/img/slider_img.png">
            </div>
            <div class="name_and_price">
                <span class="slider_name_bucket">Букет "Индиго"</span>
                <div class="price">
                    5 400 ₽
                </div>
                <div class="price_hover">
                    <div>
                        В корзину
                    </div>
                    <div class="price_hover_price">
                        5 400 ₽
                    </div>
                </div>
            </div>
        </div>

        <div class="slider_item_card">
            <div class="right_nav_place">
                <div class="right_nav_item">
                    <span class="fas fa-heart _active"></span>
                </div>
            </div>
            <div class="slider_item_card_img_place">
                <img src="../static/img/slider_img.png">
            </div>
            <div class="name_and_price">
                <span class="slider_name_bucket">Букет "Индиго"</span>
                <div class="price">
                    5 400 ₽
                </div>
                <div class="price_hover">
                    <div>
                        В корзину
                    </div>
                    <div class="price_hover_price">
                        5 400 ₽
                    </div>
                </div>
            </div>
        </div>

        <div class="slider_item_card">
            <div class="right_nav_place">
                <div class="right_nav_item">
                    <span class="fas fa-heart _active"></span>
                </div>
            </div>
            <div class="slider_item_card_img_place">
                <img src="../static/img/slider_img.png">
            </div>
            <div class="name_and_price">
                <span class="slider_name_bucket">Букет "Индиго"</span>
                <div class="price">
                    5 400 ₽
                </div>
                <div class="price_hover">
                    <div>
                        В корзину
                    </div>
                    <div class="price_hover_price">
                        5 400 ₽
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'pc_utilites.html' %}
</body>
</html>