<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Одуван</title>
    {% include 'pc_headers.html' %}
</head>
<body id="body">
<!-- Первый блок на главной -->
<div class="main_background">
    <img src="../static/img/main_background.png" class="main_background_img">
    <div class="main_background_text">
        <h1 class="main_zag">
            ДОСТАВКА БУКЕТОВ <br> в Воронеже
        </h1>
        <strong class="main_sub_zag">Закажи свой идеальный букет</strong>
        <div id="down_to_catalog"><span class="fa fa-chevron-down"></span></div>
    </div>
</div>

<!-- Наш каталог -->
<div class="catalog" id="our_catalog">
    <div class="container">
        <div class="catalog_flex">
            <h2 class="catalog_zag">Наш каталог</h2>
            <a class="all_catalog_href href_catalog" href="/catalog">
                Весь каталог
            </a>
        </div>
        <!-- Наш каталог - карточки -->
        <div class="card_on_main">
            <div class="card_main_item" style="width:49%;margin-right:1.7%">
                <div class="card_main_bg"></div>
                <div style="z-index:10">
                    <span class="buckets">Букеты</span>
                    <strong class="name_buckets">
                        Монобукеты
                    </strong>

                    <div class="to_choose_href">
                        <a href="">Выбрать <span class="fa fa-chevron-right"></span></a>
                    </div>
                </div>
                <img src="../static/img/big_img_main.png">
            </div>
            <div class="card_main_item" style="width:48.5%;">
                <div class="card_main_bg"></div>
                <div style="z-index:10">
                    <span class="buckets">Букеты</span>
                    <strong class="name_buckets">
                        Монобукеты
                    </strong>

                    <div class="to_choose_href">
                        <a href="">Выбрать <span class="fa fa-chevron-right"></span></a>
                    </div>
                </div>
                <img src="../static/img/big_img_main.png">
            </div>

            <div class="card_main_item" style="width:32%;margin-right:2%">
                <div class="card_main_bg"></div>
                <div style="z-index:10">
                    <span class="buckets">Букеты</span>
                    <strong class="name_buckets">
                        Монобукеты
                    </strong>

                    <div class="to_choose_href">
                        <a href="">Выбрать <span class="fa fa-chevron-right"></span></a>
                    </div>
                </div>
                <img src="../static/img/small_img_main.png">
            </div>

            <div class="card_main_item" style="width:32%;margin-right:1.45%">
                <div class="card_main_bg"></div>
                <div style="z-index:10">
                    <span class="buckets">Букеты</span>
                    <strong class="name_buckets">
                        Монобукеты
                    </strong>

                    <div class="to_choose_href">
                        <a href="">Выбрать <span class="fa fa-chevron-right"></span></a>
                    </div>
                </div>
                <img src="../static/img/small_img_main.png">
            </div>

            <div class="card_main_item" style="width:31.5%;">
                <div class="card_main_bg"></div>
                <div style="z-index:10">
                    <span class="buckets">Букеты</span>
                    <strong class="name_buckets">
                        Монобукеты
                    </strong>

                    <div class="to_choose_href">
                        <a href="">Выбрать <span class="fa fa-chevron-right"></span></a>
                    </div>
                </div>
                <img src="../static/img/small_img_main.png">
            </div>
        </div>
    </div>
</div>
<!-- Популярное -->
<div class="catalog" style="background: rgba(41, 48, 72, 0.1);">
    <div class="container">
        <div class="catalog_flex">
            <h2 class="catalog_zag">Популярное</h2>
            <a class="all_catalog_href href_catalog" href="/catalog">
                Весь каталог
            </a>
        </div>

        <!-- Слайдер -->
        <div id="swiper_place">
            <div class="row rw m-t-16" id="slider_place">
                <!-- Slider Banners -->
                <div class="col-xs-12">
                    <div class="swiper-container">
                        <div class="swiper-wrapper"></div>
                        <div class="swip_left_arrow"><span class="fa fa-chevron-left swip_arrow"></span></div>
                        <div class="swip_right_arrow"><span class="fa fa-chevron-right swip_arrow"></span></div>
                        <!--                        <div class="pagination_place">-->
                        <!--                            <div class="swiper-pagination" style="position:static"></div>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>


        <div class="card_product" id="card_product" style="display: none;">
            <div class="right_nav_place">
                <div class="right_nav_item">

                </div>
            </div>
            <div class="discount_place">
                <div class="percent_place">
                    <span class="fa fa-percent"></span>
                </div>
                <div class="discount_text">
                    20% скидка
                </div>
            </div>
            <a class="slider_item_card_img_place" href="">
                <img src="../static/img/catalog_img.png" class="slider_img">
            </a>
            <div class="name_and_price">
                <div class="catalog_flex" style="padding-bottom: 0px;">
                    <div class="slider_name_bucket">Букет "Индиго"</div>
                    <div class="price_basket slider_name_bucket" style="display: none;"></div>
                </div>
                <div class="catalog_flex_catalog for_basket"
                     style="align-items: center;justify-content: space-between;padding: 0 15px;">
                    <div>
                        <div class="price">
                            5400 Р
                        </div>
                        <div class="disc_price_bucket">
                            2 600 Р
                        </div>
                    </div>
                    <div class="add_to_basket_card">
                        <span class="fas fa-shopping-bag"></span>
                    </div>
                </div>
                <div class="price_hover">
                    <div>
                        В корзину
                    </div>
                    <div class="price_hover_price">
                        5 400 ₽
                    </div>
                </div>
                <div class="added_product" style="display: none">
                    <div class="fa fa-minus minus_counter"></div>
                    <div>
                        В корзине: <input type="number" class="product_counter_inp"/>
                    </div>
                    <div>
                        <div class="fa fa-plus plus_counter"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!-- Индивидуальный заказ букета -->
<div class="individual_order">
    <div class="individual_order_info">
        <div class="individual_order_info_text">
            <div class="individual_order_info_text_info">
                <span class="bucket_na_zakaz">Букет на заказ</span>
                <h3 class="individual_zakaz">Индивидуальный заказ букета</h3>
                <div class="individual_info">
                    Не нашли то, что искали? Оформите индивидуальный заказ! Опишите пожелания по цветовой гамме,
                    составу
                    и
                    упаковке
                </div>
                <a class="all_catalog_href" style="float: none">
                    Сделать заказ
                </a>
            </div>
            <div class="individual_order_info_text_img">
                <img src="../static/img/individual_img.png">
            </div>
        </div>
    </div>
</div>


<!-- Блог -->
<div class="catalog">
    <div class="container">
        <div class="catalog_flex">
            <h2 class="catalog_zag">Блог</h2>
            <a class="all_catalog_href">
                Больше статей
            </a>
        </div>
        <!--        <div>-->
        <!--            <div class="blog_item">-->
        <!--                <div class="blog_item_info">-->
        <!--                    <img src="../static/img/blog_big_img.png">-->
        <!--                    <div class="blog_item_text">-->
        <!--                        <div class="blog_item_text_zag">-->
        <!--                            Открыт <br>новый магазин-->
        <!--                        </div>-->
        <!--                        <div class="blog_item_text_preview">-->
        <!--                            Открылся новый магазин по адресу Плехановская 15, мы рады представить...-->
        <!--                        </div>-->
        <!--                        <div class="blog_item_text_read">-->
        <!--                            Прочитать-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->

        <!--            <div class="blog_item">-->
        <!--                <div class="blog_item_info">-->
        <!--                    <img src="../static/img/blog_big_img.png">-->
        <!--                    <div class="blog_item_text">-->
        <!--                        <div class="blog_item_text_zag">-->
        <!--                            Открыт <br>новый <br>магазин-->
        <!--                        </div>-->
        <!--                        <div class="blog_item_text_preview">-->
        <!--                            Чтобы понять, в каком стиле вам нужен бюджет на свадьбу необходимо обратить внимание на-->
        <!--                            дресскод-->
        <!--                            и оформление...-->
        <!--                        </div>-->
        <!--                        <div class="blog_item_text_read">-->
        <!--                            Прочитать-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="blog_item">-->
        <!--                <div class="blog_item_info">-->
        <!--                    <img src="../static/img/blog_big_img.png">-->
        <!--                    <div class="blog_item_text">-->
        <!--                        <div class="blog_item_text_zag">-->
        <!--                            Открыт <br>новый <br>магазин-->
        <!--                        </div>-->
        <!--                        <div class="blog_item_text_preview">-->
        <!--                            Чтобы понять, в каком стиле вам нужен бюджет на свадьбу необходимо обратить внимание на-->
        <!--                            дресскод-->
        <!--                            и оформление...-->
        <!--                        </div>-->
        <!--                        <div class="blog_item_text_read">-->
        <!--                            Прочитать-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->


        <div>
            <div class="blog_item_main">
                <div class="blog_item">
                    <div class="blog_item_info">
                        <img src="../static/img/blog_big_img.png">
                        <div class="blog_item_text">
                            <div class="blog_item_text_zag">
                                Открыт <br>новый магазин
                            </div>
                            <div class="blog_item_text_preview">
                                Открылся новый магазин по адресу Плехановская 15, мы рады представить...
                            </div>
                            <div class="blog_item_text_read">
                                Прочитать
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog_item_main">
                <div class="blog_item" style="display: none;">
                    <div class="blog_item_info">
                        <img src="../static/img/blog_big_img.png">
                        <div class="blog_item_text">
                            <div class="blog_item_text_zag">
                                Открыт <br>новый <br>магазин
                            </div>
                            <div class="blog_item_text_preview">
                                Чтобы понять, в каком стиле вам нужен бюджет на свадьбу необходимо обратить внимание
                                на
                                дресскод
                                и оформление...
                            </div>
                            <div class="blog_item_text_read">
                                Прочитать
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog_item">
                    <div class="blog_item_info">
                        <img src="../static/img/blog_big_img.png">
                        <div class="blog_item_text">
                            <div class="blog_item_text_zag">
                                Открыт <br>новый <br>магазин
                            </div>
                            <div class="blog_item_text_preview">
                                Чтобы понять, в каком стиле вам нужен бюджет на свадьбу необходимо обратить внимание
                                на
                                дресскод
                                и оформление...
                            </div>
                            <div class="blog_item_text_read">
                                Прочитать
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog_item">
                    <div class="blog_item_info">
                        <img src="../static/img/blog_big_img.png">
                        <div class="blog_item_text">
                            <div class="blog_item_text_zag">
                                Открыт <br>новый <br>магазин
                            </div>
                            <div class="blog_item_text_preview">
                                Чтобы понять, в каком стиле вам нужен бюджет на свадьбу необходимо обратить внимание
                                на
                                дресскод
                                и оформление...
                            </div>
                            <div class="blog_item_text_read">
                                Прочитать
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Почему мы -->
<div class="catalog" style="background:rgba(41, 48, 72, 0.1);">
    <div class="container" style="text-align: center">
        <h3 class="catalog_zag" style="padding-bottom: 25px;">Почему мы</h3>
        <div class="why_me_flex">
            <div class="why_me_flex_item">
                <div class="item_num">
                    <div class="question_place">
                        <span class="fa fa-question"></span>
                    </div>
                    1
                </div>
                <div class="item_zag">
                    Заказ
                </div>
                <div class="sub_zag">
                    Выберите букет из каталога и оформите заказ
                </div>
            </div>
            <div class="why_me_flex_item">
                <div class="item_num">
                    <div class="question_place">
                        <span class="fa fa-question"></span>
                    </div>
                    2
                </div>
                <div class="item_zag">
                    Детали
                </div>
                <div class="sub_zag">
                    Мы перезвоним в течение 15 минут и уточним детали
                </div>
            </div>
            <div class="why_me_flex_item">
                <div class="item_num">
                    <div class="question_place">
                        <span class="fa fa-question"></span>
                    </div>
                    3
                </div>
                <div class="item_zag">
                    Оплата
                </div>
                <div class="sub_zag">
                    Оплатите заказ онлайн или при получении
                </div>
            </div>
            <div class="why_me_flex_item">
                <div class="item_num">
                    <div class="question_place">
                        <span class="fa fa-question"></span>
                    </div>
                    4
                </div>
                <div class="item_zag">
                    Сборка
                </div>
                <div class="sub_zag">
                    Учтем пожелания и соберем идельный букет
                </div>
            </div>
            <div class="why_me_flex_item">
                <div class="item_num">
                    <div class="question_place">
                        <span class="fa fa-question"></span>
                    </div>
                    5
                </div>
                <div class="item_zag">
                    Доставка
                </div>
                <div class="sub_zag">
                    Курьер позвонит за 1 час и привезет вовремя
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Краткая информация перед футером -->
<div class="catalog" style="position: relative">
    <div class="left_pink_item">
    </div>
    <div class="right_pink_item">
    </div>
    <div class="container" style="padding: 0 30px;">
        <div class="catalog_flex">
            <div class="info_pered_footer_ryad">
                <div class="info_pered_footer">
                    <div style="width:50%">
                        <img src="../static/img/img_pered_footer.png" class="info_pered_footer_img">
                    </div>
                    <div class="info_pered_footer_text">
                        <div class="blog_item_text_zag">
                            Свадебные букеты
                        </div>
                        <div class="description_explanations">
                            Главная история о любви всегда ваша. Особенной в ней должна быть каждая деталь, и букет
                            - не
                            исключение
                        </div>
                    </div>
                </div>
                <div class="info_pered_footer">
                    <div style="width:50%">
                        <img src="../static/img/img_pered_footer.png" class="info_pered_footer_img">
                    </div>
                    <div class="info_pered_footer_text">
                        <div class="blog_item_text_zag">
                            БУКЕТЫ ДЛЯ ДОМА
                        </div>
                        <div class="description_explanations">
                            На маленьких подарках держится дружба, на больших - любовь. И только тот подарок, что
                            дополнен
                            изысканным букетом, свидетельствует о хорошем вкусе
                        </div>
                    </div>
                </div>
            </div>
            <div class="info_pered_footer_ryad">
                <div class="info_pered_footer">
                    <div style="width:50%">
                        <img src="../static/img/img_pered_footer.png" class="info_pered_footer_img">
                    </div>
                    <div class="info_pered_footer_text">
                        <div class="blog_item_text_zag">
                            БУКЕТЫ В ПОДАРОК
                        </div>
                        <div class="description_explanations">
                            Домашний уют - одно из сокровищ мира, в котором все продумано до мелочей. И если вы все
                            ещё
                            думаете,
                            что дом пустоват, принесите в него “пушистый” букет
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'pc_utilites.html' %}
<script>
    loadCategories();

    function loadCategories() {
        let data = {
            'category_id': 0,
        }
        $.ajax({
            url: '/api/categories/get',
            data: data,
            type: 'GET',
            success: function (msg) {
                console.log('categoris', msg);
                let inputs = document.getElementsByClassName('href_catalog');
                for (let i = 0; i < inputs.length; i++) {
                    inputs[i].href = 'catalog?category_id=' + msg['message']['top_categories'][0]['id'];
                }
            }
        });
    }


    down_to_catalog.onclick = function (e) {
        e.preventDefault();
        document.getElementById('our_catalog').scrollIntoView({
            behavior: 'smooth',
            block: 'start',
        })
    }

    /// Слайдер популярное
    loadProducts();

    function loadProducts() {
        $('.delete_card').remove();
        let data = {
            'sorted_type': 5,
            'page_count': 16,
        }
        $.ajax({
            url: '/site/products/smart',
            type: 'POST',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function (msg) {
                console.log('loadProducts', msg);
                createSlider(msg['message']['products']);
            }
        });
    }

    function createSlider(products) {
        let box = swiper_place.cloneNode(true);
        let swiper = box.getElementsByClassName('swiper-container')[0];
        let wrapper = box.getElementsByClassName('swiper-wrapper')[0];
        let left_arrow = box.getElementsByClassName('swip_left_arrow')[0];
        let right_arrow = box.getElementsByClassName('swip_right_arrow')[0];
        let pagination_place = box.getElementsByClassName('pagination_place')[0];
        let bullets = box.getElementsByClassName('swiper-pagination')[0];
        let sw = new Swiper(swiper, {
            slidesPerView: 4,
            slidesPerGroup: 4,
            spaceBetween: 30,
            // pagination: {
            //     el: '.swiper-pagination',
            //     type: 'bullets',
            // },
            grabCursor: true,
            navigation: {
                nextEl: right_arrow,
                prevEl: left_arrow,
            },
            autoplay: {
                delay: 5000,
                disableOnInteraction: false
            },
            parallax: {
                enabled: true
            },
            loop: true
        });
        for (let i = 0; i < products.length; i++) {
            let slider = createProduct(products[i]);
            let swiper_slide = document.createElement('div');
            swiper_slide.className = 'swiper-slide';
            swiper_slide.style.width = '25%';
            slider.style.display = 'block';
            slider.style.width = '100%';
            swiper_slide.style.marginRight = '10px';
            swiper_slide.append(slider);
            wrapper.append(swiper_slide);
            document.getElementById('slider_place').append(box);
        }
    }


    // /* Якорь ( плавное перелистывание ) */
    // anchor();
    //
    // function anchor() {
    //     let nav_link_landing = document.querySelectorAll('.nav-link_landing[href*="#"]');
    //     for (let anchor of nav_link_landing) {
    //         anchor.onclick = function (e) {
    //             e.preventDefault();
    //             const id = anchor.getAttribute('href').substr(1);
    //             document.getElementById(id).scrollIntoView({
    //                 behavior: 'smooth',
    //                 block: 'start',
    //             })
    //         }
    //     }
    // }
</script>
</body>
</html>