<!-- Header -->
<header class="header">
    <div class="container">
        <div class="flex_menu">
            <nav class="nav">
                <a class="nav-link" href="/catalog">Каталог</a>
                <a class="nav-link" onclick="OpenPopup(ds_popup ,3)">Доставка</a>
                <a class="nav-link">Оплата</a>
                <a class="nav-link" href="/blog">Блог</a>
            </nav>
            <div class="logo_place">
                <a class="logo" href="/">
                    Одуван
                </a>
                <div class="sub_logo">
                    Доставка букетов
                </div>
            </div>
            <div class="right_header_part">
                <div class="right_header_part_item">
                    <a href="tel:88005553535" style="margin-right: 40px">8 800 555 35 35</a>
                    <div class="right_nav_place">
                        <a class="right_nav_item" id="favorites">
                            <span class="fas fa-heart"></span>
                        </a>
                    </div>
                    <div class="right_nav_place">
                        <a class="right_nav_item" id="go_to_basket">
                            <span class="fas fa-shopping-bag"></span>
                        </a>
                    </div>
                    <div class="right_nav_place">
                        <a class="right_nav_item" id="user_item">
                            <span class="fas fa-user"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="blurpopup" id="blurpopup"></div>
<!-- Поп ап регистрации / авторизации -->
<div class="registrationpopup" id="registrationpopup">
    <div class="closepopupplace">
        <div class="close_place" id="closepopup" onclick="ClosePopup(registrationpopup)">
            <span class="fa fa-times"></span> <span>Закрыть</span>
        </div>
    </div>
    <div class="catalog_flex_catalog" style="margin-bottom:40px;">
        <div class="registr_item" id="registration_popup">
            Регистрация
            <div class="registr_indicator _active" id="registr_indic"></div>
        </div>
        <div class="registr_item" id="authorize_popup">
            Вход в аккаунт
            <div class="registr_indicator" id="authorize_indic"></div>
        </div>
    </div>
    <!-- Попап регистрации -->
    <div id="registration_block">
        <div class="name_popup">
            Регистрация
        </div>
        <div class="info_popup">
            Заполните все поля, займёт не больше минуты
        </div>
        <input class="popup_input" placeholder="Ваше Имя" id="name_user_reg">
        <input class="popup_input" placeholder="Ваша фамилия" id="surname_user_reg">
        <input class="popup_input" type="tel" placeholder="+7 (__) __-__-_" id="phone_user_reg">
        <input class="popup_input" type="password" placeholder="Придумайте пароль" id="password_user_reg">
        <input class="popup_input" type="password" placeholder="Повторите пароль" id="repeatpas_user_reg">
        <a href="#" class="all_catalog_href" style="float:none;width:100%;margin-top:15px;height:50px;"
           id="register_user">Подтвердить
            регистрацию</a>
    </div>
    <!-- Попап авторизации -->
    <div id="authorization_block" style="display: none">
        <div class="name_popup">
            Вход в аккаунт
        </div>
        <div class="info_popup">
            Свежие букеты уже ждут вас
        </div>
        <input class="popup_input" type="tel" placeholder="+7 (__) __-__-_" id="phone_user_auth">
        <input class="popup_input" type="password" placeholder="Пароль" id="password_user_auth">
        <div style="text-align: center">
            <span class="forgot_pas">Забыли пароль?</span>
        </div>
        <a href="#" class="all_catalog_href" style="float:none;width:100%;margin-top:15px;height:50px;"
           id="authorize_user">Войти в аккаунт</a>
    </div>
</div>


<!-- Поп ап корзины -->
<div class="registrationpopup" id="basket_popup">
    <div class="basket_place">
        <div class="oformit_zakaz">
            <div class="all_catalog_href">
                <div class="pereiti_k_oform">
                    Перейти к оформлению
                </div>
                <div class="price">
                    16200 ₽
                </div>
            </div>
        </div>
        <div class="closepopupplace">
            <div class="close_place" id="close_basket" onclick="ClosePopup(basket_popup)">
                <span class="fa fa-times"></span> <span>Закрыть</span>
            </div>
        </div>
        <div>
            <div class="name_popup">
                Ваша корзина
            </div>
            <div class="info_popup">
                Проверим наличие цветов, на выбранную дату
            </div>
            <div class="basket_info">
                <div class="catalog_flex">
                    <div class="address_info_zag">
                        Воронеж
                    </div>
                    <!--<span class="fa fa-chevron-down"></span>-->
                </div>
                <div class="catalog_flex ">
                    <div class="address_info_zag">
                        Выберите способ доставки
                    </div>
                    <span class="fa fa-chevron-down" id="choose_delivery"></span>
                </div>
            </div>
        </div>

        <div class="basket_item">
            <div class="catalog_flex" style="justify-content: normal">
                <div class="small_product_card" style="margin-right:15px;">
                    <div class="small_product_place">
                        <img src="../static/img/small_img_main.png" class="small_product_img">
                    </div>
                </div>
                <div class="basket_info_for_order">
                    <div class="bucket_na_zakaz">
                        Букет "Индиго"
                    </div>
                    <div class="price">
                        5400 Р
                    </div>
                    <div class="add_to_basket_place" style="max-width:100%;">
                        <div class="fa fa-minus" id="minus_counter" onclick="changeCounter(2)"></div>
                        <div class="counter_place">
                            <input type="number" class="product_counter_inp" id="counter_product" value="1">
                            <span style="font-weight: 600;">ШТ</span>
                        </div>
                        <span class="fa fa-plus"></span>
                    </div>
                    <div class="fa fa-times"></div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Попап скидки -->
<div class="discount_popup_place" id="ds_pop_place">
    <div class="discount_popup" id="ds_popup">
        <div class="catalog_flex" style="padding: 0">
            <div class="discount_content">
                <div class="bucket_na_zakaz">
                    Акция
                </div>
                <div class="individual_zakaz">
                    ДАРИМ СКИДКУ 30% НА ПОКУПКИ
                </div>
                <div class="individual_info">
                    В течение двух часов после регистрации подтвердите адрес электронной почты в личном кабинете и
                    получите скидку
                </div>
                <div class="catalog_flex" style="border-bottom: 0;margin-top:10px;justify-content: center;">
                    <div class="all_catalog_href"
                         style="height:70px;margin-right:10px;">
                        Перейти в кабинет
                    </div>
                    <div class="all_catalog_href" id="closediskpopup"
                         style="height:70px;background: #FFFFFF; color:#293048;border:4px solid #293048">
                        Закрыть
                    </div>
                </div>
            </div>
            <div class="discount_img">
                <img src="../static/img/discount_img.png">
            </div>
        </div>
    </div>
</div>
<!-- Карточка товара -->
<div id="item_card_place" style="padding-top: 35px;display: none">
    <div class="slider_item_card" id="card_product" style="display: none">
        <div class="right_nav_place">
            <div class="right_nav_item">

            </div>
        </div>
        <div class="discount_place">
            <div class="percent_place">
                <span class="fa fa-percent"></span>
            </div>
            <div class="discount_text">
                20% скидка
            </div>
        </div>
        <a class="slider_item_card_img_place" href="">
            <img src="../static/img/catalog_img.png" class="slider_img">
        </a>
        <div class="name_and_price">
            <div class="slider_name_bucket">Букет "Индиго"</div>
            <div class="catalog_flex_catalog"
                 style="align-items: center;justify-content: space-between;padding: 0 15px;">
                <div>
                    <div class="price">
                        5400 Р
                    </div>
                    <div class="disc_price_bucket">
                        2 600 Р
                    </div>
                </div>
                <div class="add_to_basket_card">
                    <span class="fas fa-shopping-bag"></span>
                </div>
            </div>
            <div class="price_hover">
                <div>
                    В корзину
                </div>
                <div class="price_hover_price">
                    5 400 ₽
                </div>
            </div>
            <div class="added_product" style="display: none">
                <div>
                    <span class="fa fa-minus"></span>
                </div>
                <div>
                    В корзине: 1
                </div>
                <div>
                    <span class="fa fa-plus"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="footer">
    <div class="first_level">
        <div class="container">
            <div class="flex_menu">
                <nav class="nav">
                    <a class="nav-link" href="/catalog">Каталог</a>
                    <a class="nav-link">Доставка</a>
                    <a class="nav-link">Оплата</a>
                    <a class="nav-link" href="/blog">Блог</a>
                </nav>
                <div class="logo_place">
                    <a class="logo" href="/">
                        Одуван
                    </a>
                    <div class="sub_logo">
                        Доставка букетов
                    </div>
                </div>
                <div class="right_header_part">
                    <div class="right_header_part_item" style="margin-right:0">
                        <a href="tel:88005553535" style="margin-right: 40px;color:#FFFFFF">8 800 555 35 35</a>
                        <div class="right_nav_place">
                            <a class="right_nav_item" href="/favorites">
                                <span class="fas fa-heart" style="color:#FFFFFF"></span>
                            </a>
                        </div>
                        <div class="right_nav_place">
                            <a class="right_nav_item">
                                <span class="fas fa-shopping-bag" style="color:#FFFFFF"></span>
                            </a>
                        </div>
                        <div class="right_nav_place">
                            <a class="right_nav_item">
                                <span class="fas fa-user" style="color:#FFFFFF"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="second_level">
        <div class="container">
            <div class="flex_menu">
                <ul class="footer_list">
                    <li>
                        <a class="nav-link" href="">Программа лояльности</a>
                    </li>
                    <li>
                        <a class="nav-link" href="">корпоративным клиентам</a>
                    </li>
                </ul>
                <ul class="footer_list">
                    <li><a class="nav-link" href="">Инструкция свежести</a></li>
                    <li><a class="nav-link" href="">Вакансии</a></li>
                </ul>
                <ul class="footer_list">
                    <li><a class="nav-link" href="">Юридическая информация</a></li>
                    <li>
                        <a class="nav-link" href="">Возврат</a>
                    </li>
                </ul>
                <div class="footer_list">
                    <div class="social_network">
                        <div class="social_network_zag">
                            Социальные сети
                        </div>
                        <div>
                            <div class="right_nav_place">
                                <div class="right_nav_item">
                                    <a href="" target="_blank"> <span class="fab fa-instagram"
                                                                      style="color:#FFFFFF"></span></a>
                                </div>
                            </div>
                            <div class="right_nav_place">
                                <div class="right_nav_item">
                                    <a href="" target="_blank"> <span class="fab fa-vk"
                                                                      style="color:#FFFFFF"></span></a>
                                </div>
                            </div>
                            <div class="right_nav_place">
                                <div class="right_nav_item">
                                    <a href="" target="_blank"> <span class="fab fa-facebook-f"
                                                                      style="color:#FFFFFF"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script>
    let user = null;

    /* Открытие попапа */
    function OpenPopup(popup, status) {
        // status: 1 - регистрация с авторизацией, 2 - корзина, 3 - скидка
        blurpopup.style.display = 'block';
        body.style.overflow = 'hidden';
        if (status === 1) {
            popup.classList.add('_active');
            register_user.onclick = function () {
                RegistrationUser();
            }
            let inputs = document.getElementsByClassName('popup_input');

            for (let i = 0; i < inputs.length; i++) {
                inputs[i].oninput = function () {
                    if (inputs[i].value.length > 0) {
                        inputs[i].classList.remove('error');
                    }
                }
            }
            /* В попапе регистрации и авторизации менять блоки при нажатии на "Регистрация"/"Вход в аккаунт" */
            authorize_user.onclick = function () {
                AuthorizationUser();
            }
            registration_popup.onclick = function () {
                registr_indic.classList.add('_active');
                authorize_indic.classList.remove('_active');
                registration_block.style.display = 'block';
                authorization_block.style.display = 'none';
            }

            authorize_popup.onclick = function () {
                registr_indic.classList.remove('_active');
                authorize_indic.classList.add('_active');
                authorization_block.style.display = 'block';
                registration_block.style.display = 'none';
            }
        } else if (status === 3) {
            popup.classList.add('_active');
            ds_pop_place.classList.add('_active');
            blurpopup.style.display = 'block';
            body.style.overflow = 'hidden';

            closediskpopup.onclick = function () {
                ds_pop_place.classList.remove('_active');
                ClosePopup(popup);
            }
        } else {
            popup.classList.add('_active');
        }
    }

    if (user === null) {
        favorites.onclick = function () {
            OpenPopup(registrationpopup, 1);
        }
        go_to_basket.onclick = function () {
            OpenPopup(registrationpopup, 1);
        }
        user_item.onclick = function () {
            OpenPopup(registrationpopup, 1);
        }
    } else {
        favorites.href = '/favorites';
        go_to_basket.href = OpenPopup(basket_popup, 2);
        user_item.href = '/cabinet';
    }

    /* Проверка авторизации */
    function showAuth() {
        if (user === null) {
            OpenPopup(registrationpopup, 1);
        } else {
            return;
        }
    }

    /* Закрытие попапа */
    function ClosePopup(popup) {
        blurpopup.style.display = 'none';
        popup.classList.remove('_active');
        body.style.overflow = 'inherit';
    }


    /* Регистрация пользователя */
    function RegistrationUser() {
        let box = registration_block.cloneNode(true);
        let inputs = box.getElementsByClassName('popup_input');
        console.log(inputs);
        for (let i = 0; i < inputs.length; i++) {
            if (inputs[i].value.length === 0) {
                console.log(inputs[i].value.length === 0);
                inputs[i].classList.add('error');
            }
        }
        if (name_user_reg.value === '') {
            return;
        } else if (surname_user_reg.value === '') {
            return;
        } else if (phone_user_reg.value === '') {
            return;
        } else if (password_user_reg.value === '') {
            return;
        } else if (password_user_reg.value === '') {
            return;
        } else if (repeatpas_user_reg.value === '') {
            return;
        } else if (password_user_reg.value !== repeatpas_user_reg.value) {
            alert('Повторный пароль введён неверно');
            return;
        } else {
            let phone_number = maskPhone(phone_user_reg);
            console.log(phone_user_reg.value.toString());
            let data = {
                'name': name_user_reg.value,
                'surname': surname_user_reg.value,
                'phone': phone_user_reg.value,
                'password': password_user_reg.value,
            }
            $.ajax({
                url: '/api/user/registration',
                type: 'GET',
                data: data,
                success: function (msg) {
                    console.log(msg);
                }
            });
        }


    }

    /* Срабатывает на oninput, приводит номер телефона в нужный регистр */
    function maskPhone(element) {
        IMask(
            element, {
                mask: '+{7} (000) 000 00 00',
                prepare: function (str) {
                    return str.toUpperCase();
                },
            });
    }


    /* Авторизация пользователя */
    function AuthorizationUser() {
        let box = authorization_block.cloneNode(true);
        let inputs = box.getElementsByClassName('popup_input');
        for (let i = 0; i < inputs.length; i++) {
            if (inputs[i].value.length === 0) {
                inputs[i].classList.add('error');
            }
        }
        if (phone_user_auth.value === '') {
            alert('Введите телефон');
            return;
        } else if (password_user_auth.value === '') {
            alert('Введите пароль');
            return;
        } else {
            let data = {
                'password': password_user_auth.value,
                'phone': phone_user_auth.value,
            }
            $.ajax({
                url: '/api/user/auth',
                type: 'GET',
                data: data,
                success: function (msg) {
                    console.log(msg);
                }
            })
        }
    }


    /* Получение пользователя */
    GetUser();

    function GetUser() {
        $.ajax({
            url: '/api/user/get',
            type: 'GET',
            success: function (msg) {
                user = msg['user'];
                console.log(msg);
            }
        });
    }

    /* Добавление в избранное */
    function AddLikeds(product_id, user_id) {
        console.log('Дашло');
        let data = {
            'product_id': product_id,
            'user_id': user_id
        }
        $.ajax({
            url: 'api/user/liked',
            type: "GET",
            data: data,
            success: function (msg) {
                console.log(msg);
            }
        })
    }


    /* Отрисовка товара */
    function createProduct(product) {
        let box = document.getElementById('card_product').cloneNode(true);
        box.id = '';
        box.className = 'slider_item_card';
        let img = box.getElementsByClassName('slider_img')[0];
        let name = box.getElementsByClassName('slider_name_bucket')[0];
        let price = box.getElementsByClassName('price')[0];
        let hover_price = box.getElementsByClassName('price_hover_price')[0];
        let price_hover = box.getElementsByClassName('price_hover')[0];
        let place_for_favor = box.getElementsByClassName('right_nav_item')[0];
        let href = box.getElementsByClassName('slider_item_card_img_place')[0];
        let discount_text = box.getElementsByClassName('discount_text')[0];
        let discount_place = box.getElementsByClassName('discount_place')[0];
        let discount_price = box.getElementsByClassName('disc_price_bucket')[0];
        img.src = product['photos'][0];
        name.innerText = product['name'];
        if (product['discount_type'] > 0) {
            price.classList.add('have_disc');
            discount_text.innerText = product['discount_type'] + ' % ' + 'скидка';
            discount_price.innerText = product['discount_cost'] + ' ₽';
        } else {
            discount_place.style.display = 'none';
            discount_price.style.display = 'none';
        }
        hover_price.innerText = product['discount_cost'] + ' ₽';
        price.innerText = product['cost'] + ' ₽';
        href.href = 'product?id=' + product['id'];

        if (product['in_basket'] === true) {
            place_for_favor.innerHTML = '<span class="fas fa-heart active"></span>';
        } else {
            place_for_favor.innerHTML = '<span class="far fa-heart"></span>';
        }

        place_for_favor.innerHTML = '<span class="far fa-heart"></span>';

        place_for_favor.onclick = function () {
            showAuth();
            AddLikeds(product['id'], user['id']);
            place_for_favor.innerHTML = '<span class="fas fa-heart _active"></span>';
        }
        price_hover.onclick = function () {
            showAuth();
            alert('Сделать добавление в корзину')
        }
        return box;
    }


    /* Хлебные крошки */
    BreadCoast();

    function BreadCoast() {
        let data = {
            'id': 8
        }
        $.ajax({
            url: '/api/get_nesting_by_id',
            data: data,
            type: 'GET',
            success: function (msg) {
                console.log(msg);
            }
        })
    }


</script>