<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вакансии</title>
    {% include 'pc_headers.html' %}
</head>
<body id="body">
<!-- Страница доставки -->
<div class="catalog">
    <div class="container">
        <div class="place_breadcoast">
            <a href="/">Главная</a> / <a href="/vacancies" class="active_page" id="active_page">Вакансии</a>
        </div>
        <h1 class="catalog_zag" style="margin-top: 40px; margin-bottom: 20px;">Вакансии</h1>
    </div>
</div>

<div class="catalog">
    <div class="container">
        <div class="catalog_flex_catalog">
            <div class="blog_art_text description_explanations" style="line-height: 130%; padding-left: 0; width: 100%;">
                <h2 style="font-size: 36px; margin-bottom: 20px;">Флорист</h2>
                <div style="margin-bottom: 10px;">Прислать портфолио своих работ:</div>
                <div style="padding-left: 20px;">
                    <a  style="color: blueviolet; margin-bottom: 10px;" href="tel:89204650703">-89204650703</a>
                    <br>
                    <a style="color: blueviolet" href="mailto:oduvan@vesyoliy.ru">-Наша почта</a>
               </div>
            </div>
        </div>
    </div>
</div>



{% include 'pc_utilites.html' %}

<script>
    {#let id = {{ id }};#}
</script>
</body>
</html>