<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вакансии</title>
    <meta id="meta_keywords" name="keywords" content="Одуван, Весёлый одуван, цветы, букеты, букеты из роз, открытки, деревья, купить цветы Воронеж, купить цветы Воронеж недорого,
горшки, деревья, деревья в горшках, роза, доставка цветов Воронеж, купить цветы жене, цветы одуван, цветы Воронеж, лушчие букеты, лучшие цветы, праздник, цветы на 8 марта,
открытки, шарики, купить цветы и открытки быстро, купить цветы дёшево, купить цветы маме, заказ цветов Воронеж, доставить букет, служба доставки цветов, интернет досатвка цветов,
служба доставки цветов, букет невесты недорого, доставка цветов на дом, свежие цветы, свадебный букет из роз, купить цветы в интернете, где можно купить цветы, доставка букетов,
цветы Воронеж, купить свадебный букет, букет цветов в коробке, букет цветов с доставкой, недорогие букеты с доставкой, заказ букетов Воронеж, доставка цветов в Воронеже онлайн,
заказать цветы с доставкой, свадебный букет цена, купить цветы недорого, магазин достави цветов, стоимость цветов, заказать цветы, заказ цветов, где купить цветы,
букет в корзинке, купить цветы в Воронеже недорого">
    {% include 'pc_headers.html' %}
</head>
<body id="body">
<!-- Страница доставки -->
<div class="catalog">
    <div class="container">
        <div class="place_breadcoast">
            <a href="/">Главная</a> / <a href="/vacancies" class="active_page" id="active_page">Вакансии</a>
        </div>
        <h1 class="catalog_zag" style="margin-top: 40px; margin-bottom: 20px;">Вакансии</h1>
    </div>
</div>

<div class="catalog" style="min-height: 483px">
    <div class="container">
        <div class="catalog_flex_catalog">
            <div class="blog_art_text description_explanations" style="line-height: 130%; padding-left: 0; width: 100%;">
                <h2 style="font-size: 36px; margin-bottom: 20px;">Флорист</h2>
                <div style="margin-bottom: 10px;">Прислать портфолио своих работ:</div>
                <div style="padding-left: 20px;">
                    <a  style="color: #F877AD; margin-bottom: 10px;" href="tel:89204650703">-89204650703</a>
                    <br>
                    <a style="color: #F877AD" href="mailto:oduvan@vesyoliy.ru">-Наша почта</a>
               </div>
            </div>
        </div>
    </div>
</div>



{% include 'pc_utilites.html' %}

<script>
    {#let id = {{ id }};#}
</script>
</body>
</html>