<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оформление заказа</title>
    {% include 'headers.html' %}
</head>
<body id="body">

<div class="catalog">
    <div class="container">
        <div class="place_breadcoast" id="place_breadcoast">
            <a href="/">Главная</a>
        </div>

        <div class="catalog_flex_catalog" style="margin-top:50px; display: block">
            <!-- Картинки слева. Все картинки букета -->
            <div class="all_pictures_product_place" id="all_pictures_product_place">
                <div class="small_product_card" id="small_product_card" style="display: none;">
                    <div class="small_product_place">
                        <img src="../static/img/slider_img.png" class="small_product_img">
                    </div>
                </div>
            </div>
            <!-- Главная картинка -->
            <div class="main_pictures_product_place">
                <div class="big_product_card">
                    <div class="small_product_place">
                        <img src="../static/img/slider_img.png" class="small_product_img" id="main_photo">
                    </div>
                </div>

                <div class="flex_for_explanations_product">
                    <div class="explanations_product">Инструкция свежести</div>
                    <span class="fa fa-chevron-down"></span>
                </div>
                <div class="razdelitel_indicator"></div>

                <div class="flex_for_explanations_product">
                    <div class="explanations_product">Подробнее о доставке</div>
                    <span class="fa fa-chevron-down"></span>
                </div>
                <div class="razdelitel_indicator"></div>
            </div>
            <!-- Описание товара -->
            <div class="description_product_place">
                <strong class="bucket_na_zakaz" id="name_cat_bucket">Монобукет</strong>
                <div class="name_buckets" id="name_bucket" style="padding-top:8px; margin-top: 30px; margin-bottom: 30px;">"Индиго"</div>
                <div class="disc_price_bucket" id="disc_price_bucket"
                     style="padding:20px 0 15px 0;display: inline-block; font-size: 65px">5 400 ₽
                </div>
                <div class="price" id="price" style="padding:20px 0 15px 0;display: inline-block">5 400 ₽</div>

                <!-- Счетчик товаров -->
                <div class="add_to_basket_place" id="basket_place">
                    <div id="minus_counter" class="fa fa-minus" style="text-align: center">
                    </div>
                    <div class="counter_place">
                        <input type="number" class="product_counter_inp" id="counter_product" value="1">
                        <span style="font-weight: 600;">ШТ</span>
                    </div>
                    <div id="plus_counter" class="plus_counter fa fa-plus" style="text-align: center">
                    </div>
                </div>

                <a href="#" class="all_catalog_href" id="add_to_basket"
                   style="float:none;width:100%;text-align: center; margin-top:40px;margin-bottom: 40px;height:100px;">Добавить
                    в корзину</a>
                <div class="description_zag">
                    Описание
                </div>
                <div class="description_explanations" id="description_product">
                    Монобукет из 23 английских роз Дэвида Остина сорта Миранда с ветками эвкaлиптa. Роза отличается
                    классической формой английской розы и удивительной окраской, нежно-розовой со светло-зеленым отливом
                    по краю наружных лепестков, обладает легким ароматом. Розы бережно упакованы в матовую пленку серого
                    цвета и перевязаны декоративной лентой.
                </div>
                <div class="description_zag">
                    Детали
                </div>
                <div class="description_explanations">
                    <span id="description_explanations_item">
                        <span id="flowers_product">Цветы: </span>
                    </span>
                    <span>
                        <span id="packages_product">Упаковка: </span>
                    </span>
                    <span>
                         <span id="height_product">Высота: </span>
                    </span>
                    <span>
                        <span id="diameter_product">Диаметр: </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Похожее -->
<div class="catalog" style="background: #f5f5f6;">
    <div class="container">
        <div class="catalog_flex">
            <h2 class="catalog_zag" style="font-size: 80px">Похожее</h2>
        </div>
        <div id="swiper_place">
            <div class="row rw m-t-16" id="slider_place">
                <!-- Slider Banners -->
                <div class="col-xs-12">
                    <div class="swiper-container">
                        <div class="swiper-wrapper"></div>
                        <!--                        <div class="swip_left_arrow"><span class="fa fa-chevron-left swip_arrow"></span></div>-->
                        <!--                        <div class="swip_right_arrow"><span class="fa fa-chevron-right swip_arrow"></span></div>-->
                        <!--                        <div class="pagination_place">-->
                        <!--                            <div class="swiper-pagination" style="position:static"></div>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
         <a class="all_catalog_href" href="/catalog" style="width: 50%; font-size: 46px; height: 110px; margin-top: 60px">
                Весь каталог
         </a>
    </div>
</div>

<!-- Индивидуальный заказ букетов -->
<div class="individual_order">
    <div class="individual_order_info" style="height: 100%;">
        <div class="individual_order_info_text_img">
                <img src="../static/img/individual_img.png" style="height: 700px;">
        </div>
        <div class="individual_order_info_text" style="display: block" >
            <div class="individual_order_info_text_info">
                <span class="bucket_na_zakaz" style="font-size: 28px">Букет на заказ</span>
                <h3 class="individual_zakaz" style="font-size: 50px; width: 80%; margin: 0 auto; padding-top: 30px; padding-bottom: 40px">Индивидуальный заказ букета</h3>
                <div class="individual_info" style="font-size: 48px; ">
                    Не нашли то, что искали? Оформите индивидуальный заказ! Опишите пожелания по цветовой гамме, составу
                    и
                    упаковке
                </div>
                <a class="all_catalog_href" style="float: none; width: 50%; margin: 0 auto; height: 110px; margin-top: 40px; margin-bottom: 40px">
                    Сделать заказ
                </a>
            </div>
        </div>
    </div>
</div>


{% include 'utilites.html' %}

</body>

<script>


      let id = {{id}};
    let name = '';
    let category_id = 0;

    getProduct();

    /* Получить продукт */
    function getProduct() {
        let data = {
            'id': id
        }
        $.ajax({
            url: 'api/product/get',
            type: 'GET',
            data: data,
            success: function (msg) {
                console.log('product', msg);
                category_id = Number(msg['message']['product']['category_id']);
                getCategory(category_id);
                drawProduct(msg['message']);
            }
        })
    }


    /* Отрисовать продукт */
    function drawProduct(msg) {
        console.log(msg);
        description_product.innerText = msg['product']['description'];
        name_bucket.innerText = msg['product']['name'];
        name = msg['product']['name'];
        // main_photo.src = 'http://b-ws.ru:1001/get?uuid=' + msg['product']['photos'][0][0];

        if (msg['product']['photos'] > 0) {
            for (let i = 0; i < msg['product']['photos'].length; i++) {
                let images = small_product_card.cloneNode(true);
                images.id = '';
                if (i === 0) {
                    images.classList.add('_active_photo');
                }
                let img = images.getElementsByClassName('small_product_img')[0];
                img.src = 'http://b-ws.ru:1001/get?uuid=' + msg['product']['photos'][i][i];
                images.style.display = 'block';
                images.onclick = function () {
                    document.getElementsByClassName('_active_photo')[0].classList.remove('_active_photo');
                    images.classList.add('_active_photo');
                    main_photo.src = 'http://b-ws.ru:1001/get?uuid=' + msg['product']['photos'][i][i];
                }
                all_pictures_product_place.append(images);
            }
        }
        let count = document.getElementById('counter_product');
        if (msg['product']['discount_type'] > 0) {
            price.classList.add('have_disc');
        } else {
            disc_price_bucket.style.display = 'none';
        }

        if (msg['product']['q_count'] > 0) {
            disc_price_bucket.innerText = Number(msg['product']['discount_cost'] * msg['product']['q_count']) + ' ₽';
            price.innerText = Number(msg['product']['cost'] * msg['product']['q_count']) + ' ₽';
            add_to_basket.style.display = 'none';
            count.value = msg['product']['q_count'];
            basket_place.style.display = 'flex';
        } else {
            price.innerText = Number(msg['product']['cost']) + ' ₽';
            add_to_basket.style.display = 'flex';
            basket_place.style.display = 'none';
            add_to_basket.onclick = function () {
                addProduct(msg['product']['id'], count.value);
                add_to_basket.style.display = 'none';
                basket_place.style.display = 'flex';
            }
        }
        count.onchange = function () {
            if (count.value === '') {
                count.value = 1;
                minus.className = 'disabled';
            } else if (count.value < 1) {
                count.value = 1;
                minus.className = 'disabled';
            } else {
                changeProduct(msg['product']['id'], Number(count.value));
            }
            disc_price_bucket.innerText = Number(count.value * msg['product']['discount_cost']) + ' ₽';
            price.innerText = Number(count.value * msg['product']['cost']) + ' ₽';
        }

        let minus = document.getElementById('minus_counter');
        let plus = document.getElementById('plus_counter');

        // Счетчик товаров
        minus.onclick = function () {
            if (Number(count.value) > 1) {
                count.value--;
                addProduct(msg['product']['id'], Number(-1));
                disc_price_bucket.innerText = Number(count.value * msg['product']['discount_cost']) + ' ₽';
                price.innerText = Number(count.value * msg['product']['cost']) + ' ₽';
            }
        }
        plus.onclick = function () {
            if (Number(count.value) >= 1) {
                count.value++;
                addProduct(msg['product']['id'], Number(1));
                disc_price_bucket.innerText = Number(count.value * msg['product']['discount_cost']) + ' ₽';
                price.innerText = Number(count.value * msg['product']['cost']) + ' ₽';
            }
        }

        // Выводим детали товара
        for (let i = 0; i < msg['flowers'].length; i++) {
            if (i > 0) {
                flowers_product.innerText += ', ' + msg['flowers'][i]['name'];
            } else {
                flowers_product.innerText += ' ' + msg['flowers'][i]['name'];
            }
        }

        if (msg['packages'].length < 1) {
            packages_product.style.display = 'none';
        } else {
            for (let i = 0; i < msg['packages'].length; i++) {
                if (i > 0) {
                    packages_product.innerText += ', ' + msg['packages'][i]['name'];
                } else {
                    packages_product.innerText += ' ' + msg['packages'][i]['name'];
                }
            }
        }
        height_product.innerText += ' ' + msg['product']['height'] + ' см';
        diameter_product.innerText += ' ' + msg['product']['diameter'] + ' см';
    }




    let count = document.getElementById('counter_product')
    let minus = document.getElementById('minus_counter');

    minus.onclick = function (){
         if(count.value > 1){
            count.value--;
        }

    }

    plus_counter.onclick = function (){
        if(count.value >= 1){
            count.value++;
            console.log('test');
        }

    }

    loadProducts();

    function loadProducts() {
        $('.delete_card').remove();
        let data = {
            'sorted_type': 5,
            'page_count': 16,
        }
        $.ajax({
            url: '/site/products/smart',
            type: 'POST',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function (msg) {
                console.log('loadProducts', msg);
                createSlider(msg['message']['products']);
            }
        });
    }

    function createSlider(products) {
        let box = swiper_place.cloneNode(true);
        let swiper = box.getElementsByClassName('swiper-container')[0];
        let wrapper = box.getElementsByClassName('swiper-wrapper')[0];
        // let left_arrow = box.getElementsByClassName('swip_left_arrow')[0];
        // let right_arrow = box.getElementsByClassName('swip_right_arrow')[0];
        let pagination_place = box.getElementsByClassName('pagination_place')[0];
        let bullets = box.getElementsByClassName('swiper-pagination')[0];
        let sw = new Swiper(swiper, {
            slidesPerView: 2,
            slidesPerGroup: 2,
            spaceBetween: 30,
            // pagination: {
            //     el: '.swiper-pagination',
            //     type: 'bullets',
            // },
            grabCursor: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false
            },
            parallax: {
                enabled: true
            },
            loop: true
        });
        for (let i = 0; i < products.length; i++) {
            let slider = createProduct(products[i]);
            let swiper_slide = document.createElement('div');
            swiper_slide.className = 'swiper-slide';
            swiper_slide.style.width = '45%';
            slider.style.display = 'block';
            slider.style.width = '100%';
            swiper_slide.style.marginRight = '20px';
            swiper_slide.append(slider);
            wrapper.append(swiper_slide);
            document.getElementById('slider_place').append(box);
        }
    }

    function getCategory(category_id) {
        console.log('categ_id', category_id);
        let data = {
            'category_id': category_id,
        }
        $.ajax({
            url: 'api/category/get',
            type: 'GET',
            data: data,
            success: function (msg) {
                console.log(msg);
                name_cat_bucket.innerText = msg['category']['name'];
                let breadcoast = BreadCoast(category_id);
                console.log('hleb', breadcoast);
                place_breadcoast.innerHTML += ' / ' + `<a href="catalog?category_id=${msg['category']['parent_id']}">${breadcoast[0]}</a>` + ' / ' + `<span style="font-weight: 600; text-transform: uppercase">${msg['category']['name']}</span>` + ' / ' +
                    `<a href="/product?id=${id}" class="active_page">${name}</a>`;
            }
        })
    }




</script>


</html>