<!-- Header -->
<header class="header">
    <div class="flex_menu">
        <div class="logo_place">
            <a class="logo" href="/">
                Одуван
            </a>
            <div class="sub_logo">
                Доставка букетов
            </div>
        </div>
        <div class="right_header_part">
            <div class="right_header_part_item">
                <div class="right_nav_place">
                    <a class="right_nav_item" href="/favorites">
                        <span class="fas fa-heart"></span>
                    </a>
                </div>
                <div class="right_nav_place">
                    <a class="right_nav_item" onclick="OpenPopup(basket_popup, 2)">
                        <span class="fas fa-shopping-bag"></span>
                    </a>
                </div>
                <div class="right_nav_place">
                    <a class="right_nav_item" onclick="OpenPopup(registrationpopup, 1)">
                        <span class="fas fa-user"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="mobile_menu" onclick="OpenPopup(mobile_navigation, 4)">
            <span></span>
        </div>

        <div class="mobile_navigation" id="mobile_navigation">
            <div class="closepopupplace">
                <div class="close_place" id="closepopup" onclick="ClosePopup(mobile_navigation)">
                    <span class="fa fa-times"></span> <span>Закрыть</span>
                </div>
            </div>

            <div class="mobile_list">
                <div class="nav_list">
                    <a class="nav-link" href="/catalog">Каталог</a>
                    <a class="nav-link">Блог</a>
                    <a class="nav-link">Доставка</a>
                    <a class="nav-link">Оплата</a>
                </div>
                <div class="social_list">
                    <div class="right_nav_place">
                        <a class="right_nav_item" href="/favorites">
                            <span class="fas fa-heart"></span>
                        </a>
                    </div>
                    <div class="right_nav_place">
                        <a class="right_nav_item" onclick="OpenPopup(basket_popup, 2)">
                            <span class="fas fa-shopping-bag"></span>
                        </a>
                    </div>
                    <div class="right_nav_place">
                        <a class="right_nav_item" onclick="OpenPopup(registrationpopup, 1)">
                            <span class="fas fa-user"></span>
                        </a>
                    </div>
                    <a href="tel:88005553535"
                       style="margin:60px 0 20px 0;color:#293048;font-size: 32px;display: block;font-weight: bold;">8
                        800 555 35 35</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="blurpopup" id="blurpopup"></div>
<!-- Поп ап регистрации / авторизации -->
<div class="registrationpopup" id="registrationpopup">
    <div class="closepopupplace">
        <div class="close_place" onclick="ClosePopup(registrationpopup)">
            <span class="fa fa-times"></span> <span>Закрыть</span>
        </div>
    </div>
    <div class="container">
        <div class="catalog_flex_catalog" style="margin-bottom:40px;">
            <div class="registr_item" id="registration_popup">
                Регистрация
                <div class="registr_indicator _active" id="registr_indic"></div>
            </div>
            <div class="registr_item" id="authorize_popup">
                Вход в аккаунт
                <div class="registr_indicator" id="authorize_indic"></div>
            </div>
        </div>
        <!-- Попап регистрации -->
        <div id="registration_block">

            <div class="name_popup">
                Регистрация
            </div>
            <div class="info_popup">
                Заполните все поля, займёт не больше минуты
            </div>
            <input class="popup_input" placeholder="Ваше Имя" id="name_user_reg">
            <input class="popup_input" placeholder="Ваша фамилия" id="surname_user_reg">
            <input class="popup_input" type="tel" placeholder="+7 (__) __-__-_" id="phone_user_reg">
            <input class="popup_input" type="password" placeholder="Придумайте пароль" id="password_user_reg">
            <input class="popup_input" type="password" placeholder="Повторите пароль" id="repeatpas_user_reg">
            <a href="#" class="all_catalog_href" style="float:none;width:100%;margin-top:30px;height: 90px;"
               id="register_user">Подтвердить
                регистрацию</a>

        </div>
    </div>
    <!-- Попап авторизации -->
    <div id="authorization_block" style="display: none;text-align: center">
        <div class="container">
            <div class="name_popup">
                Вход в аккаунт
            </div>
            <div class="info_popup">
                Свежие букеты уже ждут вас
            </div>
            <input class="popup_input" type="tel" placeholder="+7 (__) __-__-_" id="phone_user_auth">
            <input class="popup_input" type="password" placeholder="Пароль" id="password_user_auth">
            <span class="forgot_pas">Забыли пароль?</span>
            <a href="#" class="all_catalog_href" style="float:none;width:100%;margin-top:30px;height: 90px;"
               id="authorize_user">Войти в аккаунт</a>
        </div>
    </div>
</div>


<!-- Поп ап корзины -->
<div class="registrationpopup" id="basket_popup">
    <div class="basket_place">
        <div class="oformit_zakaz">
            <div class="all_catalog_href">
                <div class="pereiti_k_oform">
                    Перейти к оформлению
                </div>
                <div class="price">
                    16200 Р
                </div>
            </div>

        </div>

        <div class="closepopupplace">
            <div class="close_place" id="close_basket" onclick="ClosePopup(basket_popup)">
                <span class="fa fa-times"></span> <span>Закрыть</span>
            </div>
        </div>
        <div class="container">
            <div class="name_popup" style="padding: 40px 0 10px">
                Ваша корзина
            </div>
            <div class="info_popup">
                Проверим наличие цветов, на выбранную дату
            </div>
            <div class="basket_info">
                <div class="catalog_flex">
                    <div class="address_info_zag">
                        Воронеж
                    </div>
                    <!--<span class="fa fa-chevron-down"></span>-->
                </div>
                <div class="catalog_flex ">
                    <div class="address_info_zag">
                        Выберите способ доставки
                    </div>
                    <span class="fa fa-chevron-down" id="choose_delivery"></span>
                </div>
            </div>
        </div>
        <!-- Карточки товаров в корзине -->
        <div class="basket_item">
            <div class="container">
                <div class="catalog_flex" style="justify-content: normal">
                    <div class="fa fa-times"></div>

                    <div class="small_product_card" style="margin-right:15px;">
                        <div class="small_product_place">
                            <img src="../static/img/small_img_main.png" class="small_product_img">
                        </div>
                    </div>

                    <div class="basket_info_for_order">
                        <div class="bucket_na_zakaz">
                            Букет "Индиго"
                        </div>
                        <div class="price">
                            5400 Р
                        </div>
                        <div class="add_to_basket_place" style="max-width:100%;">
                            <div class="fa fa-minus" id="minus_counter" onclick="changeCounter(2)"></div>
                            <div class="counter_place">
                                <input type="number" class="product_counter_inp" id="counter_product" value="1">
                                <span style="font-weight: 600;">ШТ</span>
                            </div>
                            <span class="fa fa-plus"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Попап скидки -->
<div class="discount_popup_place" id="ds_pop_place">
    <div class="discount_popup" id="ds_popup">
        <div class="catalog_flex" style="padding: 0">
            <div class="discount_content">
                <div class="bucket_na_zakaz">
                    Акция
                </div>
                <div class="individual_zakaz">
                    ДАРИМ СКИДКУ 30% НА ПОКУПКИ
                </div>
                <div class="individual_info">
                    В течение двух часов после регистрации подтвердите адрес электронной почты в личном кабинете и
                    получите скидку
                </div>
                <div class="catalog_flex" style="border-bottom: 0;margin-top:10px;justify-content: center;">
                    <div class="all_catalog_href"
                         style="height:70px;margin-right:10px;">
                        Перейти в кабинет
                    </div>
                    <div class="all_catalog_href" id="closediskpopup"
                         style="height:70px;background: #FFFFFF; color:#293048;border:4px solid #293048">
                        Закрыть
                    </div>
                </div>
            </div>
            <div class="discount_img">
                <img src="../static/img/discount_img.png">
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="footer">
    <div class="catalog">
        <div class="container">
            <!-- Хидеровское меню -->
            <div class="flex_menu">
                <div class="logo_place">
                    <a class="logo" href="/">
                        Одуван
                    </a>
                    <div class="sub_logo" style="padding-top: 10px;">
                        Доставка букетов
                    </div>
                </div>
                <div class="right_header_part">
                    <div class="right_header_part_item">
                        <div class="right_nav_place">
                            <a class="right_nav_item" href="/favorites">
                                <span class="fas fa-heart"></span>
                            </a>
                        </div>
                        <div class="right_nav_place">
                            <a class="right_nav_item" onclick="OpenPopup(basket_popup, 2)">
                                <span class="fas fa-shopping-bag"></span>
                            </a>
                        </div>
                        <div class="right_nav_place">
                            <a class="right_nav_item" id="user_item" onclick="OpenPopup(registrationpopup, 1)">
                                <span class="fas fa-user"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Второуровневое меню -->
    <div class="second_level">
        <div class="container">

            <div class="catalog_flex" style="padding:25px 0">
                <div style="width: 50%">
                    <a class="nav-link" href="/catalog">Каталог</a>
                    <a class="nav-link" href="/blog">Блог</a>
                </div>
                <div style="width: 50%">
                    <a class="nav-link" href="/catalog">Доставка</a>
                    <a class="nav-link" href="/blog">Оплата</a>
                </div>
            </div>
            <ul class="footer_list">
                <li>
                    <a class="nav-link" href="">Программа лояльности</a>
                </li>
                <li>
                    <a class="nav-link" href="">корпоративным клиентам</a>
                </li>
                <li><a class="nav-link" href="">Инструкция свежести</a></li>
                <li><a class="nav-link" href="">Вакансии</a></li>
                <li><a class="nav-link" href="">Юридическая информация</a></li>
                <li>
                    <a class="nav-link" href="">Возврат</a>
                </li>
            </ul>
            <div class="footer_list">
                <a href="tel:88005553535" style="margin:60px 0 20px 0;color:#FFFFFF;font-size: 25px;display: block">8
                    800 555 35 35</a>

                <div>
                    <div class="right_nav_place">
                        <div class="right_nav_item">
                            <a href="" target="_blank"> <span class="fab fa-instagram"
                                                              style="color:#FFFFFF"></span></a>
                        </div>
                    </div>
                    <div class="right_nav_place">
                        <div class="right_nav_item">
                            <a href="" target="_blank"> <span class="fab fa-vk"
                                                              style="color:#FFFFFF"></span></a>
                        </div>
                    </div>
                    <div class="right_nav_place">
                        <div class="right_nav_item">
                            <a href="" target="_blank"> <span class="fab fa-facebook-f"
                                                              style="color:#FFFFFF"></span></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</footer>


<script>
    let user = null;

    function OpenPopup(popup, status) {
        // status: 1 - регистрация с авторизацией, 2 - корзина, 3 - скидка, 4 - мобильная навигация
        if (status === 1) {
            popup.classList.add('_active');
            register_user.onclick = function () {
                RegistrationUser();
            }
            authorize_user.onclick = function () {
                AuthorizationUser();
            }
        } else if (status === 3) {
            popup.classList.add('_active');
            ds_pop_place.classList.add('_active');
            closediskpopup.onclick = function () {
                ds_pop_place.classList.remove('_active');
                ClosePopup(popup);
            }
        } else {
            popup.classList.add('_active');
        }


    }


    function ClosePopup(popup) {

        popup.classList.remove('_active');

    }


    /* Регистрация пользователя */
    function RegistrationUser() {
        if (name_user_reg.value === '') {
            name_user_reg.classList.add('error');
            alert('Введите имя');
            return;
        }
        if (surname_user_reg.value === '') {
            surname_user_reg.classList.add('error');
            alert('Введите фамилию');
            return;
        }
        if (phone_user_reg.value === '') {
            phone_user_reg.classList.add('error');
            alert('Введите номер телефона');
            return;
        }
        if (email_user_reg.value === '') {
            email_user_reg.classList.add('error');
            alert('Введите Email');
            return;
        }
        if (password_user_reg.value === '') {
            password_user_reg.classList.add('error');
            alert('Введите пароль');
            return;
        }
        if (password_user_reg.value === '') {
            password_user_reg.classList.add('error');
            alert('Введите пароль');
            return;
        }
        if (repeatpas_user_reg.value === '') {
            repeatpas_user_reg.classList.add('error');
            alert('Введите пароль повторно');
            return;
        }
        if (password_user_reg.value !== repeatpas_user_reg.value) {
            alert('Пароли не совпадают');
            return;
        }
        let phone_number = maskPhone(phone_user_reg);
        console.log(phone_user_reg.value.toString());
        let data = {
            'name': name_user_reg.value,
            'surname': surname_user_reg.value,
            'phone': phone_user_reg.value,
            'email': email_user_reg.value,
            'password': password_user_reg.value,
        }
        $.ajax({
            url: '/api/user/registration',
            type: 'GET',
            data: data,
            success: function (msg) {
                console.log(msg);
            }
        });
    }


    function maskPhone(element) {
        IMask(
            element, {
                mask: '+{7} (000) 000 00 00',
                prepare: function (str) {
                    return str.toUpperCase();
                },
            });
    }

    /* В попапе регистрации и авторизации менять блоки при нажатии на "Регистрация"/"Вход в аккаунт" */
    registration_popup.onclick = function () {
        registr_indic.classList.add('_active');
        authorize_indic.classList.remove('_active');
        registration_block.style.display = 'block';
        authorization_block.style.display = 'none';
    }

    authorize_popup.onclick = function () {
        registr_indic.classList.remove('_active');
        authorize_indic.classList.add('_active');
        authorization_block.style.display = 'block';
        registration_block.style.display = 'none';
    }


    /* Авторизация пользователя */
    function AuthorizationUser() {
        if (phone_user_auth.value === '') {
            phone_user_auth.classList.add('error');
            alert('Введите телефон');
            return;
        }
        if (password_user_auth.value === '') {
            password_user_auth.classList.add('error');
            alert('Введите пароль');
            return;
        }
        let data = {
            'password': password_user_auth.value,
            'phone': phone_user_auth.value,
        }
        $.ajax({
            url: '/api/user/auth',
            type: 'GET',
            data: data,
            success: function (msg) {
                console.log(msg);
            }
        })
    }


    /* Получение пользователя */
    GetUser();

    function GetUser() {
        $.ajax({
            url: '/api/user/get',
            type: 'GET',
            success: function (msg) {
                user = msg['user'];
                console.log(msg);
            }
        });
    }


    go_to_basket.onclick = function () {
        blurpopup.style.display = 'block';
        basket_popup.classList.add('_active');
    }


    function AddLikeds(product_id, user_id) {
        console.log('Дашло');
        let data = {
            'product_id': product_id,
            'user_id': user_id
        }
        $.ajax({
            url: '/api/user/liked',
            type: "GET",
            data: data,
            success: function (msg) {
                console.log(msg);
            }
        })
    }
</script>