<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вакансии</title>
    {% include 'headers.html' %}
</head>
<body id="body">
<!-- Страница статьи -->
<div class="catalog">
    <div class="container">
        <div class="place_breadcoast">
            <a href="/">Главная</a> / <a href="" class="active_page" id="active_page">Вакансии</a>
        </div>
        <h1 class="catalog_zag" style="margin-top: 50px; margin-bottom: 30px; font-size: 80px">Вакансии</h1>
    </div>
</div>

<div class="catalog" style="padding: 50px 0">
    <div class="container">
        <div class="catalog_flex_catalog" style="display: block">

            <div class="blog_art_text description_explanations" style="line-height: 130%; font-size: 16px">
                <h2 style="font-size: 70px; margin-bottom: 35px;">Флорист</h2>
                <div style="margin-bottom: 30px; font-size: 40px">Прислать портфолио своих работ:</div>
                <div style="padding-left: 40px;">
                    <a  style="color: blueviolet;" href="tel:89204650703">-89204650703</a>
                    <br>
                    <a style="color: blueviolet" href="mailto:oduvan@vesyoliy.ru">-Наша почта</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% include 'utilites.html' %}

<script>
    {#let id = {{ id }};#}
    active_page.href = location.href;
</script>
</body>
</html>