<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Свадебная флористика</title>
    {% include 'headers.html' %}
</head>
<body id="body">
<!-- Страница свадебной флористики -->
<div class="catalog">
    <div class="container">
        <div class="place_breadcoast" style="font-size: 11px">
            <a style="font-size: 11px" href="/">Главная</a> / <a style="font-size: 11px" href="/weddingfloristry"
                                                                 class="active_page" id="active_page">Свадебная
            флористика</a>
        </div>
        <h1 class="catalog_zag" style="margin-top: 50px; margin-bottom: 35px;">Свадебная флористика</h1>
        <div class="description_explanations" style="font-size: 18px; margin-bottom: 25px;">
            Цветочная мастерская «Весёлый Одуван» — это команда профессионалов, которые с радостью воплотят в жизнь
            любые Ваши мечты об идеальной свадьбе. Наши флористы умело сочетают современные тенденции с классикой,
            внимательны к деталям и обладают превосходным чувством вкуса.
            В нашей мастерской Вы можете не только подобрать неповторимый букет невесты, бутоньерку или украшения, но и
            доверить нам полное флористическое сопровождение вашей свадьбы, включающее оформление площадки для банкета,
            фотозоны, выездной регистрации и многое другое.
        </div>
    </div>
</div>

<div class="catalog" style="min-height: 578px">
    <div class="container">
        <div class="catalog_flex_catalog" style="display: block">
            <div class="catalog_zag" style="margin-bottom: 10px; font-size: 24px">
                Предлагаем вам посмотреть наши подсказки для оформления заказа:
            </div>
            <div>
                <ul style="font-size: 41px; padding-left: 35px;">
                    <li class="wedding_item">Оформление заказа на свадьбу желательно минимум за месяц</li>
                    <li class="wedding_item">Обязательна личная встреча</li>
                    <li class="wedding_item">При первой встречи необходимо иметь при себе фотографии того, что хотелось
                        бы, увидеть на вашем торжестве в каком цвете или стиле.
                    </li>
                    <li class="wedding_item">На второй встречи мы подготавливаем проект вашего цветочного оформления,
                        обсуждаем его и согласовываем общий бюджет
                    </li>
                </ul>
            </div>
        </div>
        <div class="individual_order_info_text_info" style="width: 100%; margin-top: 50px; text-align: center">
            <div class="individual_info" style="font-size: 50px;">
                С нашей помощью этот прекрасный день и ваш образ будут незабываемыми!
            </div>
            <div style="display: flex; flex-direction: column; align-items: center; padding-top: 30px">
                <input type="text" class="popup_input individual_order_inp" placeholder="Введите свое имя"
                       style="width: 70%"/>
                <input type="tel" class="popup_input individual_order_inp" placeholder="Номер телефона"
                       id="phone_number_order"
                       style="width: 70%"/>
            </div>
            <div style="display: flex;margin: 0 auto;justify-content: center">
                <a class="all_catalog_href" id="individual_order_btn"
                   style=" width: 70%; height: 100px; font-size: 40px">
                    Заказать свадебное оформление
                </a>
            </div>
        </div>
    </div>
</div>


{% include 'utilites.html' %}

<script>
    individual_order_btn.onclick = function () {
        individualOrder();
    }

    let inputs = document.getElementsByClassName('individual_order_inp');
    for (let i = 0; i < inputs.length; i++) {
        inputs[i].oninput = function () {
            inputs[i].classList.remove('error');
        }
    }

    maskPhone(phone_number_order);

    // Сделать индивидуальный заказ
    function individualOrder() {
        let inputs = document.getElementsByClassName('individual_order_inp');

        for (let i = 0; i < inputs.length; i++) {
            if (inputs[i].value === '') {
                inputs[i].classList.add('error');
            }
        }
        if (document.getElementsByClassName('error').length) return notification('Заполните обязательные поля!', 1)

        let data = {
            'name': inputs[0].value,
            'phone': inputs[1].value,
        }
        $.ajax({
            url: '/api/order/create',
            data: data,
            success: function (msg) {
                inputs[0].value = '';
                inputs[1].value = '';
                return notification('Заказ успешно создан. Вам скоро позвонят.', 2)
            }
        })
    }


    function maskPhone(element) {
        IMask(
            element, {
                mask: '+{7} (000) 000 00 00',
                prepare: function (str) {
                    return str.toUpperCase();
                },
            });
    }

</script>
</body>
</html>